- content_for :title, t('.invited_by', :user => @invite.button.user.display_name)

%section
  .page-header
    %h1{ :style => 'text-align:center' }= yield :title
    
  .row
    .span4.offset4
      .well{ :style => 'text-align:center' }
        %p= image_tag @invite.button.user.picture.url(:thumb)
        %p= t '.share', :user => @invite.button.user.display_name
        %p= t '.percentage', :percentage => number_to_percentage(@invite.share_amount, :precision => 0)
        - if signed_in?
          - if @invite.button.user == current_user
            %p= t '.sent', :date => l(@invite.created_at, :format => :date_only)
          - elsif @invite.state == Invite::State::ACCEPTED
            %p= t '.already_used'
          - elsif @invite.state == Invite::State::CLOSED
            %p= t '.closed'
          - else
            = form_for @invite do |f|
              %br/
              = f.submit t('.accept'), :class => 'btn btn-large btn-strong'
        - else
          = render :partial => 'layouts/sign_in_form'
