- unless Rails.env.production?
  %p *** TEST EMAIL FROM DEVELOPMENT / STAGING

%h2 Daily Report for 25c - #{ @day }

%table{ :style => "text-align: center;" }
  %tr{ :style => "font-size: 11px; font-weight: bold;" }
    %th{ :width => "100" } Time Frame
    %th{ :width => "100" } Visitors
    %th{ :width => "100" } Button Views
    %th{ :width => "100" } New Users
    %th{ :width => "100" } New Active Buttons
    %th{ :width => "100" } Clicks
  %tr
    %td{ :style => "text-align: left;" } Last full day
    %td= report_number @visits[:day][:www]
    %td= report_number @visits[:day][:api]
    %td= report_number @users[:day]
    %td= report_number @buttons[:day]
    %td= report_number @clicks[:day]
  %tr
    %td{ :style => "text-align: left;" } Trailing week
    %td= report_number @visits[:week][:www]
    %td= report_number @visits[:week][:api]
    %td= report_number @users[:week]
    %td= report_number @buttons[:week]
    %td= report_number @clicks[:week]
  %tr
    %td{ :style => "text-align: left;" } Trailing month
    %td= report_number @visits[:month][:www]
    %td= report_number @visits[:month][:api]
    %td= report_number @users[:month]
    %td= report_number @buttons[:month]
    %td= report_number @clicks[:month]
  %tr
    %td{ :style => "text-align: left;" } Total
    %td= report_number @visits[:total][:www]
    %td= report_number @visits[:total][:api]
    %td= report_number @users[:total]
    %td= report_number @buttons[:total]
    %td= report_number @clicks[:total]

%p URLs Clicked Today:
%ul
  - @referrers.each do |referrer|
    %li= referrer

