.center
  .login-buttons.center
    = link_to "/auth/facebook#{'?display=popup' if @popup}", :class => 'button', :id => 'sign-in-fb' do
      = image_tag "logos/fb-logo-f.png"
      Sign in With Facebook

  %p= raw t('.works_with')
  %p
    = t '.agreement_html', :terms => link_to(t('.terms'), terms_path, :target => "blank"), :privacy => link_to(t('.privacy'), privacy_path, :target => "blank")

    