#sign-in
  #login.email-form
    .login-buttons
      = link_to '/auth/facebook' do
        = image_tag "logos/facebook-icon.png"
      = link_to '/auth/google_oauth2', :class => 'google-btn' do
        = image_tag("logos/google.png")
    %p.sign-in-instructions= t '.use_email_html', :link => link_to(t('.use_email'), '#', :class => 'use-email')
    .use-email{ :style => 'display:none;' }
      %p.sign-in-instructions= t '.or'
      = simple_form_for User.new, :url => '/auth/identity/callback', :html => { :class => 'form form-horizontal' } do |f|
        = f.input :email, :input_html => { :name => 'auth_key' }
        = f.input :password, :input_html => { :name => 'password' }
        .form-submit= f.submit t('.submit'), :class => 'btn btn-strong'
      %p.sign-in-instructions
        = link_to t('.forgot_password'), '#', :class => 'forgot-password'
        &nbsp;&nbsp;|&nbsp;&nbsp;
        = link_to t('.join_free'), '#', :class => 'register'
  #forgot-password.email-form{ :style => 'display:none;' }
    %p.sign-in-instructions= t '.forgot_password_instructions'
    = simple_form_for User.new, :url => request_password_path, :remote => true, :html => { :'data-type' => :json, :class => 'form form-horizontal' } do |f|
      .alert{ :style => 'display:none;' } &nbsp;
      = f.input :email, :input_html => { :name => 'auth_key' }
      .form-submit= f.submit t('.reset'), :class => 'btn btn-strong'
    %p.sign-in-instructions
      &laquo;
      = link_to t('.back_login'), '#', :class => 'login'
  #register.email-form{ :style => 'display:none;' }
    %p.sign-in-instructions= t '.join_free_instructions'
    .login-buttons
      = link_to '/auth/facebook' do
        = image_tag "logos/facebook-icon.png"
      = link_to '/auth/google_oauth2', :class => 'google-btn' do
        = image_tag("logos/google.png")
    %p.sign-in-instructions= t '.use_email_html', :link => link_to(t('.use_email'), '#', :class => 'use-email')
    .use-email{ :style => 'display:none;' }
      %p.sign-in-instructions= t '.or'
      = simple_form_for User.new, :url => '/auth/identity/register', :html => { :class => 'form form-horizontal' } do |f|
        = f.input :email, :input_html => { :name => 'auth_key' }
        = f.input :password, :input_html => { :name => 'password' }
        .form-submit= f.submit t('.submit'), :class => 'btn btn-strong'
    %p.sign-in-instructions
      &laquo;
      = link_to t('.back_login'), '#', :class => 'login'
  .user-agreement-message
    %p= raw t('.works_with')
    %p
      = raw t('.agreement_text')
      25c #{link_to t('.terms'), terms_path, :target => "blank"}, 
      #{link_to t('.privacy'), privacy_path, :target => "blank"}

    