#sign-in
  #login.email-form
    %p.sign-in-instructions= t '.sign_in_with'
    .login-buttons
      = link_to '/auth/facebook' do
        = image_tag "logos/facebook-icon.png"
  .user-agreement-message
    %p= raw t('.works_with')
    %p
      = raw t('.agreement_text')
      25c #{link_to t('.terms'), terms_path, :target => "blank"}, 
      #{link_to t('.privacy'), privacy_path, :target => "blank"}

    