- content_for :title, t('.title')

.padded
  %h1= yield :title

.row
  .span8
    .padded
      %h2= t '.publishers'
      = render :partial => 'sessions/form_publishers'
  .span8
    .padded
      %h2= t '.tippers'
      = render :partial => 'sessions/form'
