- content_for :title, t('.reset_password')
.page-header
  %h1= yield :title

- if @user.nil?
  %p= t '.not_found'
  %p= t '.try_again_html', :link => link_to(t('.sign_in_page'), sign_in_path)
- else
  %p= t '.new_password'
  = simple_form_for @user, :url => reset_password_path(@user.reset_password_token), :html => { :class => 'form form-horizontal' } do |f|
    = f.input :password, :input_html => { :name => 'password' }
    .control-group
      .controls
        = f.submit t('.submit'), :class => 'btn btn-strong'
