

#welcome-title.main-title.center
  = image_tag current_user.get_thumb, :class => 'img-circle'
  %h2= t('.welcome', :name => @user.display_name)
.padded
  %h2= t('.how')
  .welcome-block
    %p= t('.explain_1')
    = image_tag 'intro-01.png'
    .clear
  .welcome-block
    %p= t('.explain_2')
    = image_tag 'intro-02.png'
    .clear
  .welcome-block
    %p= raw t('.explain_3', :link => link_to(t('.link'), tipper_points_url))
    = image_tag 'intro-03.png'
    .clear
  
  .center
    = link_to t('.buy_now'), tipper_points_url, :target => '_blank', :class => 'button'
    %a.close-window= t('.close')