.padded
  .center.main-title
    %h2= t('home.index.tagline')
    %p= t('.explain')

  .center
    = link_to "/auth/facebook?display=popup", :class => 'button', :id => 'sign-in-fb' do
      = image_tag "logos/fb-logo-f.png"
      = t('.fb_sign_in')
    
    %p.agreement
      = raw t('sessions.form.agreement_html', { :terms => link_to(t('sessions.form.terms'), terms_path, :target => "blank"), :privacy => link_to(t('sessions.form.privacy'), privacy_path, :target => "blank")})
    
    %a.close-window= t('.close')