%p Hi #{@user.display_name}!

<<<<<<< HEAD
%p You have recently tip on a 25c top fan widget at #{@widget.url_title}.

%p Your picture is now at position #{@curpos} in the list

%p Only the top 5 are displayed at all times. If you want to keep or increase your position you can always go back at #{@widget.url} and tip more or invite your friends  #{@friends_invite_url} to support you! 
=======
%p You have recently tip on a 25c fan belt at #{@utitle}.

%p Your picture is now at position #{@curpos} in the list

%p Only the top 5 are displayed at all times. If you want to keep or increase your position you can always go back at #{@url.url} and tip more!
>>>>>>> a77b9548d356b88bf4bfb9002b3161779a04a1de

%p Thank you!

%p The 25c Team


