%h2 Hello from the 25c team!

%p We noticed you started using 25c — awesome!
%p{ :style => 'margin-bottom:30px;'} Here are some first steps to start collecting 25c pledges and getting paid:
%p{ :style => 'font-weight: bold;'} 1. You may receive 25c pledges in either of these two ways:

%p A) On your own website, blog, etc.: Add a 25c Button using the code & instructions we provide.
%p{ :style => 'margin-bottom:30px;'}= link_to home_buttons_url, home_buttons_url

%p B) On the 25c website: Create a profile page which has the 25c Button on it right there.
%p{ :style => 'margin-bottom:30px;'}= link_to home_profile_url, home_profile_url

%p{ :style => 'font-weight: bold;'} 2. To get paid for 25c pledges received:

%p Verify your account early because account verification can take up to 7 days, so visit your Account section to get the ball rolling.
%p{ :style => 'margin-bottom:30px;'}= link_to home_payment_url, home_payment_url

%p 3. Ready to reward people & their creations and causes? Check out the pledge drives on the 25c website.
%p{ :style => 'margin-bottom:30px;'}= link_to root_url, root_url

%p 4. Visit your dashboard to keep track of your pledges and rewards!
%p{ :style => 'margin-bottom:30px;'}= link_to home_dashboard_url, home_dashboard_url

%p{ :style => 'margin-bottom:30px;'} 5. Show your friends and invite them to pledge!

%p If you have any questions along the way, our Help page should steer you in the right direction.
%p{ :style => 'margin-bottom:30px;'}= link_to faq_url, faq_url(:ref => "email")

%p Best of luck!
%p{ :style => 'margin-bottom:30px;'} The 25c Team

%p You can return to your profile at any time here:
%p= link_to home_profile_url, home_profile_url(:ref => "email")