%p Hi #{@user.display_name}!

%p You have recently wrote a note on a 25c testimonial at #{@utitle}.

%p The content of this note is : #{@comment}

%p #{@tipper.display_name} just promoted your comment by tipping #{@amount}. 

%p You are now at position #{@curpos} in the list

%p Only the top 5 are displayed at all times. If you want to keep or increase your position you can always go back at #{@comment.url.url} and tip more or invite friends to support you <link to the invite system>!

%p Thank you!

%p The 25c Team


