- content_for :title, '25c - ' + t('.title')

= content_for(:js) do
  = javascript_include_tag "jquery.dataTables.min"
  = javascript_include_tag "paging"
  = javascript_include_tag "process-payments"
  :javascript
    window.confirmPayment = '#{ j t('.confirm_process') }';
    window.processPaymentUrl = '#{ j admin_process_payment_url }';

%h2.page-header= t('.title')
.table-wrapper
  %table.payments-table.table.table-condensed.table-striped
    %thead
      %tr
        %th.payment-user-name= t('.name')
        %th.payment-user-dwolla-email= t('dwolla_email')
        %th.payment-amount= t('amount')
        %th
        %th.payment-date= t('.date_created')
        %th
    %tbody
      - @payments.each do |payment|
        %tr
          %td.payment-user= payment.user.display_name
          %td.payment-user-dwolla-email= mail_to(payment.user.dwolla_email)
          %td.payment-amount $#{"%.2f" % (payment.amount.to_f / 100)}
          %td= payment.created_at.to_s(:number)
          %td.payment-date= l payment.created_at, :format => "%d %b %y"
          %td.payment-button.center
            %a.process-payment.btn.btn-strong{:"data-payment_uuid" => payment.uuid}
              = t('.process')