.padded
  %h1.page-header Admin Test Page

  %p Logged in user: #{ @user.display_name }
  %p Free balance: #{ number_to_currency(@user.balance_free) }
  %p.buffer Paid balance: #{ number_to_currency(@user.balance_paid) }

  %p.buffer Widget owner: #{ @testimonials.user.display_name }

  #test-javascript.buffer
    %div{ :width => 650,
      :class => "tip-25c-feed",
      :'data-id' => @testimonials.uuid.to_s,
      :'data-title' => '25c',
      :'data-url' => 'http://www.25c.com',
      :'data-demo' => 'true'}
    :javascript
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){
          js=d.createElement(s);js.id=id;
          js.src="//#{ENV["API25C_URL"]}/public/javascripts/widget.js";
          fjs.parentNode.insertBefore(js,fjs);
        }
      } (document,"script","tip-25c-widget-js");
      
