.row
  .span12
    %h2.page-header= t('.confirm_title')
.row
  .span12
    %p
      = t('.transaction_amount')
      $#{"%.2f" % @result.transaction.amount}
    %p 
      = t('.transaction_id')
      = @result.transaction.id
    %p
      = t('.transaction_card_number')
      = @result.transaction.credit_card_details.masked_number
    %p
      = t('.transaction_card_type')
      = @result.transaction.credit_card_details.card_type
%hr
.row
  .span12
    = link_to t('.return_to_jar'), home_jar_path