.row
  .span12
    %h2.page-header= t('.confirm_title')
.row
  .span12
    %p
      = t('.amount')
      $#{"%.2f" % @result[:amount]}
    - if @request_type == 'paypal'
      %p
        = t('.email')
        = @result[:paypal_email]
    - else
      %p 
        = t('.account_type')
        = @result[:account_type]
      %p 
        = t('.bank_name')
        = @result[:bank_name]
      %p 
        = t('.name')
        = @result[:name]
      %p
        = t('.company')
        = @result[:company]
      %p
        = t('.phone')
        = @result[:phone]
      %p
        = t('.address')
        = @result[:line1]
        = @result[:line2]
        = @result[:city]
        = @result[:region]
        = @result[:zip]
        = @result[:country]
%hr
.row
  .span12
    = link_to t('.return_to_jar'), home_jar_path