.row.main-content

  .span11
    %h2.page-header= t('.confirm_title')
  
  .span11
    %p
      = t('.amount')
      $#{"%.2f" % @result[:amount]}
    %p
      = t('.method')
      = t('.paypal')
    %p.buffer
      = t('.email')
      = @result[:paypal_email]
    %p
      = link_to t('.return_to_account'), home_account_path
  .clear