/ = content_for(:head) do
/   = javascript_include_tag "submit-payment"
/   = javascript_include_tag "braintree-1.1.1.min"

.row
  .span12
    %h2.page-header= t('.title') + @user.email
.row
  .span12
    %p.lead
      25c's in Your 25c Jar:
      %strong 20 ($4)
    %p.lead
      Given:
      %strong 5  ($1.25)
    %p.lead
      Received:
      %strong 10 ($2.5)
%hr
.row
  .span12
    %h3 Refill your tip jar:
    -if @result
      .errors
        %h4 #{@result.errors.size} error(s):
        - @result.errors.each do |error|
          %p.errors #{error.message}
    = form_for :transaction,
        :params => @result && @result.params[:transaction],
        :errors => @result && @result.errors.for(:transaction),
        :builder => ApplicationHelper::BraintreeFormBuilder,
        :url => Braintree::TransparentRedirect.url,
        :html => {:id => "transaction-form", :autocomplete => "off"} do |f|
      %label{:for => "refill_amount"} Refill Amount:
      %select#refill_amount{:name => 'transaction[amount]'}
        - ['5','10','15','20','50','100'].each do |amount|
          - if amount == '20'
            %option{:value => "#{amount}", :selected => "selected"} $#{amount}.00
          - else
            %option{:value => "#{amount}"} $#{amount}
      %label{:for => "cardholder_name"} Name on Card:
      %input{:type => 'text', :size=>40, :name => 'transaction[credit_card][cardholder_name]'}
      %div.pull-left
        %label{:for => "number"} Card Number:
        %input#card-number{:type => 'text', :size=>40, :name => 'transaction[credit_card][number]'}
      %label{:for => "CVV"} CVV:
      %input#card-CVV{:type => 'text', :size=>40, :name => 'transaction[credit_card][cvv]'}
      %label{:for => "expiration_date"} Expiration Date:
      %select#card-expiration-month{:name => 'transaction[credit_card][expiration_month]'}
        %option{:selected => "selected", :disabled => "disabled", :value => ""} Month...
        - ['01','02','03','04','05','06','07','08','09','10','12'].each do |month|
          %option{:value => "#{month}"} #{month}
      %select#card-expiration-year{:name => 'transaction[credit_card][expiration_year]'}
        %option{:selected => "selected", :disabled => "disabled", :value => ""} Year...
        - (Date.today.year..20.years.from_now.year).each do |year|
          %option{:value => "#{year.to_s()[2,2]}"} #{year.to_s()[2,2]}
      = hidden_field_tag :tr_data, 
        Braintree::TransparentRedirect.transaction_data(:redirect_url => home_confirm_payment_url,
            :transaction => {:type => "sale"})
      %div#auto-refill-container
        %input#auto-refill-checkbox{:type => 'checkbox', :name => 'auto_refill'} 
          Automatically refill my 25c Jar if balance drops below $5 (20 25c's).
      %input.btn{:type => 'submit', :value => 'Submit Payment'}