- content_for :title, '25c - ' + t('.title')

= content_for(:js) do
  = javascript_include_tag "submit-payment"
  :javascript
    window.createPaymentUrl = '#{ j home_create_payment_url }';

%h2.page-header= t('.title')
-if @has_payin
  %p.buffer= t('users.tip.over_limit')
  %p.buffer
    = t('.amount')
    $#{"%.2f" % (@total.to_f / 4)}
  
  - if @user.email  == 'paypal@25c.com'      
    %form{ :action => "https://www.sandbox.paypal.com/cgi-bin/webscr", :method => "post" }
      %input{ :type => "hidden", :name => "cmd", :value => "_s-xclick" }
      %input{ :type => "hidden", :name => "hosted_button_id", :value => "R4T4G5JDLD3LY" }
      %input{ :type => "image", :src => "https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif", :border => "0",  :name => "submit", :alt => "PayPal - The safer, easier way to pay online!" }
      %img{ :alt => "", :border => "0", :src => "https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif",  :width => "1",  :height => "1" }
    
  - else 
    %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
      %input{ :type => "hidden", :name => "cmd", :value => "_s-xclick" }
      %input{ :type => "hidden", :name => "hosted_button_id", :value => "T9ELTRJQD73W4" }   
      %input{ :type => "image", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif", :border => "0",  :name => "submit", :alt => "PayPal - The safer, easier way to pay online!" }
      %img{ :alt => "", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif",  :width => "1",  :height => "1" }
  
  <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.com/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal.com/en_US/Marketing/i/banner/bnr_payments_120x30_y.gif" border="0" alt="PayPal Logo"></a></td></tr></table><!-- PayPal Logo -->

- else
  %p= t('.given', :total => @total, :total_amount => "%.2f" % (@total.to_f / 4))
  %p= t('.click_more_p1')
  %p.buffer= t('.click_more_p2')
  
  %a= link_to t('.dashboard'), home_dashboard_path, :class => 'btn'
      
      
  
      
