- content_for :title, '25c - ' + t('.title')

= content_for(:js) do
  = javascript_include_tag "submit-payment"
  :javascript
    window.createPaymentUrl = '#{ j home_create_payment_url }';
  <script type="text/javascript" src="https://www.dwolla.com/scripts/button.min.js"> </script>

%h2.page-header= t('.title')
-if @has_payin
  %p.buffer= t('.amount', :amount => number_to_currency(current_user.balance.to_f / 100))
  
  .row
    .span6
      <a href="http://www.25c.com/dwolla_process" class="dwolla_button" data-name="25c Pledges Payment" data-desc="Fund your 25c Pledges" data-amount="#{current_user.balance.to_f / 100}" data-shipping="0" data-tax="0" data-key="UUwr8uAr3vLzoItqjZBEmLGUSmOxy89jW86uKDphL6rz5RBSTu">Pay Now With Dwolla</a>
    .span6
      = form_tag PAYPAL_SETTINGS['service_url'], :method => :post do
        = hidden_field_tag "business", PAYPAL_SETTINGS['merchant_id']
        = hidden_field_tag "cmd", "_xclick"
        = hidden_field_tag "amount", current_user.balance.to_f / 100
        = hidden_field_tag "notify_url", paypal_process_url
        = hidden_field_tag "item_name", t('.item_name')
        = hidden_field_tag "no_shipping", 1
        = hidden_field_tag "return", home_payment_success_url
        = hidden_field_tag "cancel_return", home_payment_url
        = image_submit_tag "#{PAYPAL_SETTINGS['assets_url']}/en_US/i/btn/btn_paynowCC_LG.gif", :border => "0", :alt => "PayPal - The safer, easier way to pay online!"
        = image_tag "#{PAYPAL_SETTINGS['assets_url']}/en_US/i/scr/pixel.gif", :alt => "", :border => "0", :width => "1", :height => "1"
    
      <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.com/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal.com/en_US/Marketing/i/banner/bnr_payments_120x30_y.gif" border="0" alt="PayPal Logo"></a></td></tr></table><!-- PayPal Logo -->

- else
  %p= t '.given', :total_amount => number_to_currency(current_user.balance.to_f / 100)
  %p= t('.click_more_p1')
  %p.buffer= t('.click_more_p2')
  
  %a= link_to t('.dashboard'), home_dashboard_path, :class => 'btn'
      
      
  
      
