= content_for(:js) do
  = javascript_include_tag "submit-payment"
  :javascript
    window.hasCard = Boolean(#{ !@card_masked_number.blank? });
    window.hasResult = Boolean(#{ !@result.nil? });
    window.setUserFieldUrl = '#{ j set_user_field_url }';
    window.useExistingText = '#{ j t('.use_existing') }';
    window.useDifferentText = '#{ j t('.use_different') }';

.row.main-content
  .span11
    %h2.page-header= t('.title')
    %div= t('.amount')
    %div#refill-amount.buffer
      %b 40 25c's ($10.00)
  .span11
    / %h3.buffer= t('.title')
    = simple_form_for @user, :url => @user.new_record? ? sign_in_path : home_account_path, 
      :html => { :class => 'form-horizontal' } do |f|
      = f.input :paypal_email, :label => t("users.form.paypal_email"), :hint => t('users.form.paypal_email_hint')
      .form-actions
        = f.button :submit, :class => 'btn-warning', :value => t('users.form.submit')
  .span11
    %form{ :action => "https://www.sandbox.paypal.com/cgi-bin/webscr", :method => "post" }
      %input{ :type => "hidden", :name => "cmd", :value => "_s-xclick" }
      %input{ :type => "hidden", :name => "hosted_button_id", :value => "LMP39A7CENKJU" }
      %input{ :type => "image", :border => "0", :name => "submit",
        :src => "https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif",
        :alt => "PayPal - The safer, easier way to pay online!" }
      %img{ :border => "0", :src => "https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif",
        :width => "1", :height => "1" }