= content_for(:js) do
  = javascript_include_tag "submit-payment"
  :javascript
    window.hasCard = Boolean(#{ !@card_masked_number.blank? });
    window.hasResult = Boolean(#{ !@result.nil? });
    window.setUserFieldUrl = '#{ j set_user_field_url }';
    window.useExistingText = '#{ j t('.use_existing') }';
    window.useDifferentText = '#{ j t('.use_different') }';

.row.main-content
  .span11
    %h2.page-header= t('.title')
    %div= t('.amount')
    %div#refill-amount.buffer
      %b 40 25c's ($10.00)
  .span11
    / %h3.buffer= t('.title')
    = simple_form_for @user, :url => @user.new_record? ? sign_in_path : home_account_path, 
      :html => { :class => 'form-horizontal' } do |f|
      = f.input :paypal_email, :label => t("users.form.paypal_email"), :hint => t('users.form.paypal_email_hint')
      .form-actions
        = f.button :submit, :class => 'btn-warning', :value => t('users.form.submit')