.row
  .span12
    %h2.page-header= t('empty_jar_title')
.row
  .span12
    .lead
      %div Your Jar:
      %div
        %b= (@user.balance * 4).to_s() + ' ' + t('.25c_units')
        %span ($#{"%.2f" % @user.balance})
%hr
.row
  .span12
    %h3#user-details= t('.details_title')
    %form{:action => home_confirm_payout_url, :method => 'post' }
      %label{:for => 'address[name]'}= t('.name')
      %input{:type => 'text', :name => 'address[name]'}
      %label{:for => 'address[company]'}= t('.company')
      %input{:type => 'text', :name => 'address[company]'}
      %label{:for => 'address[line1]'}= t('.line1')
      %input{:type => 'text', :name => 'address[line1]'}
      %label{:for => 'state'}= t('.line2')
      %input{:type => 'text', :name => 'address[line2]'}
      %label{:for => 'state'}= t('.city')
      %input{:type => 'text', :name => 'address[city]'}
      %label{:for => 'state'}= t('.state')
      %input{:type => 'text', :name => 'address[state]'}
      %label{:for => 'state'}= t('.zip')
      %input{:type => 'text', :name => 'address[zip]'}
      %label{:for => 'state'}= t('.country')
      %input{:type => 'text', :name => 'address[country]'}
      %input.btn{:type => 'submit', :value => 'Submit Payment'}
    