.row.main-content
  .span11
    %h2.page-header= t('.title')

  .span11
    %p.buffer= t('.received', 
      :total => @total, :total_amount => "%.2f" % (@total.to_f / 4),
      :funded => @funded, :funded_amount => "%.2f" % (@funded.to_f / 4))
      
    - if @funded < 200
      %p= t('.too_low')

    - elsif @user.paypal_email.blank?
      %p.buffer= t('.provide_paypal_email')
      .span6
        %form{:action => home_payout_url, :method => 'post', :class => 'form-horizontal' }
          .control-group
            %label.control-label{:for => 'paypal_email'}= t('.paypal_email')
            .controls
              %input{:type => 'text', :name => 'paypal_email'}
          .submit-container
            %input.btn.btn-warning{:type => 'submit', :value => t(".submit")}
    - else
      %p= t('.sent')
  .clear
    