= content_for(:js) do
  = javascript_include_tag "request-payout"
  :javascript
    window.userBalance = '#{ @user.balance }';

.row.main-content
  .span11
    %h2.page-header= t('.title')

  .span11
    .lead
      %div= t('.contents')
      %div
        %b= @user.balance.to_s() + ' ' + t('application.25c_units')
        %span ($#{"%.2f" % (@user.balance.to_f / 4)})
  .span6
    %h3.payout-request-title= t('.paypal_title') 
    %form{:action => home_confirm_payout_url, :method => 'post', :class => 'form-horizontal' }
      .control-group
        %label.control-label{:for => "payout-amount"}= t('.payout_amount')
        .controls
          %input#payout-amount{:type => 'text', :name => 'amount',
            :value => @user.balance > 25 ? "%.2f" % (@user.balance - 25) : "%.2f" % 0}
          %p#amount-help.help-block Must be less than or equal to your 25c total.
      .control-group
        %label.control-label{:for => 'paypal_email'}= t('.paypal_email')
        .controls
          %input{:type => 'text', :name => 'paypal_email'}
      .submit-container
        %input.btn.btn-warning{:type => 'submit', :value => t(".submit")}
  .clear
    