%h2.page-header= t('.title')

%p= t('.received', 
  :total => @total, :total_amount => "%.2f" % (@total.to_f / 4),
  :funded => @funded, :funded_amount => "%.2f" % (@funded.to_f / 4))
    
- if not @has_payout
  %p= raw t('.too_low_p1')
  %p.buffer= raw t('.too_low_p2')
  %a= link_to t('.dashboard'), home_dashboard_path, :class => 'btn'

- elsif @user.dwolla_email.blank?
  %p.buffer= t('.provide_dwolla_email')
  / = link_to 'Link Dwolla Account', @authUrl, :class => 'btn btn-strong'
  = simple_form_for @user, :url => home_payout_path,
    :html => { :class => 'form-horizontal', :id => 'dwolla-email-form' } do |f|
    = f.input :dwolla_email, :label => t(".dwolla_email")
    = f.input :dwolla_email_confirmation, :label => t(".dwolla_email_confirmation"),
      :input_html => {:autocomplete => 'off'}
    .form-actions
      = f.button :submit, :class => 'btn-strong', :value => t('.submit')
  %p#use-dwolla
    %a{ :href => 'http://www.dwolla.com', :target => 'new' }=image_tag 'logos/dwolla.png'
    = t('.use_dwolla')
  
- else
  %p.buffer= t('.sent')
  .buffer= link_to t('.dashboard'), home_dashboard_path, :class => 'btn'
  %p#use-dwolla
    %a{ :href => 'http://www.dwolla.com', :target => 'new' }=image_tag 'logos/dwolla.png'
    = t('.use_dwolla')