.row.main-content
  .span11
    %h2.page-header= t('.title')

  .span11
    %p.buffer= t('.received', 
      :total => @total, :total_amount => "%.2f" % (@total.to_f / 4),
      :funded => @funded, :funded_amount => "%.2f" % (@funded.to_f / 4))
      
    - if not @has_payout
      %p= t('.too_low_p1')
      %p= t('.too_low_p2')

    - elsif @user.paypal_email.blank?
      %p.buffer= t('.provide_paypal_email')
      = link_to 'Verify PayPal Account', '/auth/paypal', :class => 'btn btn-primary'
    - else
      %p= t('.sent')
  .clear