.row.main-content
  .span11
    %h2.page-header= t('.title')

  .span11
    %p= t('.received', 
      :total => @total, :total_amount => "%.2f" % (@total.to_f / 4),
      :funded => @funded, :funded_amount => "%.2f" % (@funded.to_f / 4))
    
    = link_to 'Verify PayPal Account', '/auth/paypal', :class => 'btn btn-primary hide'
    
    - if not @has_payout
      %p= t('.too_low_p1')
      %p= t('.too_low_p2')

    - elsif @user.paypal_email.blank?
      %p.buffer= t('.provide_paypal_email')
      / = link_to 'Verify PayPal Account', '/auth/paypal', :class => 'btn btn-primary'
      = simple_form_for @user, :url => home_payout_path, 
        :html => { :class => 'form-horizontal', :id => 'paypal-email-form' } do |f|
        = f.input :paypal_email, :label => t(".paypal_email"), :hint => t('.paypal_email_hint')
        = f.input :paypal_email_confirmation, :label => t(".paypal_email_confirmation"),
          :input_html => {:autocomplete => 'off'}
        .form-actions
          = f.button :submit, :class => 'btn-warning', :value => t('.submit')
      
      
    - else
      %p.buffer= t('.sent')
      %a= link_to t('.dashboard'), home_dashboard_path, :class => 'btn'
  .clear