#describe-cause.step-container
  .step-number 1
  .step-content
    %h3.step-title= t('home.buttons.receive_pledges.describe_cause_title')
    .step-body
    
      / .label-column
      /   %label= t('home.buttons.receive_pledges.button_title_label')
      / .input-column
      /   %input#button-title{ :type => 'text', :name => 'button[title]',
      /     :value => @button.title.blank? ? t('home.buttons.receive_pledges.enter_title') : @button.title }

      - if @user.nickname.blank?
        .clear.label-column
          %label.buffer= t('home.buttons.receive_pledges.user_nickname_label')
        .input-column
          %input#user-nickname
          %p= t('home.buttons.receive_pledges.user_nickname_hint')
          
      .clear.label-column.clear
        %label= t('home.buttons.receive_pledges.user_pledge_name_label')
      .input-column
        %input#user-pledge-name{ :type => 'text', :name => 'user[pledge_name]',
          :value => @user.display_name }
           
      .clear.label-column
        %label= t('home.buttons.receive_pledges.user_picture_label')
      .input-column
        #upload-picture-fields
          #upload-user-picture.btn= t('home.buttons.receive_pledges.upload_picture')

          - if @user.picture_updated_at
            %span#current-picture-container
              %input#current-picture-checkbox{ :type => 'checkbox', :checked => true }
              %span#current-picture-link
                = t('home.buttons.receive_pledges.picture_link')
                = image_tag(current_user.get_thumb, :class => 'thumb-picture')
          - else
            %span#current-picture-container.hide
              %input#current-picture-radio{ :type => 'radio', :checked => true }
              %span#current-picture-link
                = t('home.buttons.receive_pledges.picture_link')
                = image_tag(current_user.get_thumb, :class => 'thumb-picture')
      .clear
      #set-user-info.clear.btn.btn-strong= t('home.buttons.receive_pledges.set_user_info')
  .clear