- if @clicks_received.length > 0
  %h3#donations-title.table-title
    = t('home.dashboard.index.tips_received')
  .mobile-clicks-container
    - @clicks_received.each do |set|
      .click-container
        .field-container
          .field-title= t('home.dashboard.index.amount')
          .field-value= number_to_currency(set[0].to_f / 100000000)
          .clear

        .field-container
          .field-title= t('home.dashboard.index.clicker')
          - if set[1].button.user.profile_url.blank?
            .field-value= set[1].button.user.display_name
            - else
            .field-value= link_to set[1].button.user.display_name, set[1].button.user.profile_url,  :target => "_blank"
          .clear

        .field-container
          .field-title= t('home.dashboard.index.referrer')
          .field-value
            - if set[1].referrer.blank?
              = t('home.dashboard.index.no_referrer')
            - else
              = link_to set[1].referrer_title, set[1].referrer, :target => "_blank"
          .clear
          
          
- if @clicks_given.length > 0
  %h3#donations-title.table-title
    = t('home.dashboard.index.tips_given')
  .mobile-clicks-container
    - @clicks_given.each do |set|
      .click-container
        .field-container
          .field-title= t('home.dashboard.index.amount')
          .field-value= number_to_currency(set[0].to_f / 100000000)
          .clear

        .field-container
          .field-title= t('home.dashboard.index.provider')
          - if set[1].button.user.profile_url.blank?
            .field-value= set[1].button.user.display_name
            - else
            .field-value= link_to set[1].button.user.display_name, set[1].button.user.profile_url,  :target => "_blank"
          .clear

        .field-container
          .field-title= t('home.dashboard.index.referrer')
          .field-value
            - if set[1].referrer.blank?
              = t('home.dashboard.index.no_referrer')
            - else
              = link_to set[1].referrer_title, set[1].referrer, :target => "_blank"
          .clear