= content_for(:js) do
  :javascript
    window.setUserFieldUrl = '#{ j set_user_field_url }';
    $('#user_show_donations').change(function() {
      var showDonations = false;
      if ($(this).is(':checked')) showDonations = true;
      $.post(setUserFieldUrl, { field: 'show_donations', value: showDonations });
    });

.row
  .span11
    / %h3.buffer= t('.title')
    = simple_form_for @user, :url => @user.new_record? ? sign_in_path : home_account_path, 
      :html => { :class => 'form-horizontal' } do |f|
      / = f.input :show_donations, :hint => t('.show_donations')
      - if @user.nickname.blank?
        = f.input :nickname, :hint => t('.nickname_url') + @url
      / - else
      /   = @user.nickname
      /   = f.input :nickname, :hint => t('.nickname_url') + link_to(@url, @url)
      = f.input :first_name
      = f.input :last_name
      = f.input :email, :label => t("users.sign_in.email")
      = f.input :paypal_email, :label => t(".paypal_email"), :hint => t('.paypal_email_hint')
      = f.input :password, :label => t("users.sign_in.new_password"), 
        :input_html => {:autocomplete => 'off'},
        :hint => @user.new_record? ? false : t('.edit_password_hint')
      = f.input :password_confirmation, :label => t("users.sign_in.confirm_password"),
        :input_html => {:autocomplete => 'off'}
      .form-actions
        = f.button :submit, :class => 'btn-warning', :value => t('.submit')