= simple_form_for @user, :url => register_path, :html => { :class => 'form form-horizontal' } do |f|
  = f.input :pledge_name
  = f.input :email
  = f.input :password
  .control-group
    .controls.form-submit= f.submit t('.sign_up'), :class => 'button'
