#profile-container
  = simple_form_for @user, :url => home_profile_path, :html => { :multipart => true } do |f|
    .row
      .span4
        #user-profile
          .block
            .input-block
              - if @is_editable
                #upload-button.btn= t('.image_upload')
                #image-block
                  /- if @is_editable
                  /  =f.input :picture
            = image_tag(@user.picture, :id => 'user-image')
          .block#name-block
            - if @is_editable
              .input-block
                %input{:type => 'text', :name => 'user[first_name]', 
                  :value => @user.first_name.blank? ? t('.first_name_default') : @user.first_name,
                  :id => 'first_name_input'}
                %input{:type => 'text', :name => 'user[last_name]', 
                :value => @user.last_name.blank? ? t('.last_name_default') : @user.last_name,
                :id => 'last_name_input'}
            %p.content-block.emphasis
              =@user.first_name.blank? ? t('.enter_name') :  @user.first_name
              =@user.last_name.blank? ? '' : @user.last_name
          .block#about-block.clear
            .input-block
              %textarea{:id => 'about', :name => 'user[about]', :rows => 3}
                =@user.about.blank? ? t('.enter_about') : @user.about
      .span8
        - if @user.first_name
          %h1 #{t('.support_title')} #{@user.display_name}.
        - else
          %h1= t('.support_title_no_name')
        #button-holder
          <a href="https://www.plus25c.com/tip/#{@button.id}" class="tip-25c-button" data-size="btn-large">#{@button.title}</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;    js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}    (document,"script","tip-25c-js");</script>
          / .button-choice
          /   %img{:src => image_path('25c-btn-large.png')}
          / .clear