.row
  .span12
    %h2.page-header= t('.title')
    %p
      = t('.instructions')
    %p.buffer
      - if @user.nickname
        = t('.user_url')
        = link_to(@url, @url)
      - else
        = t('.example')
        = @url
    = simple_form_for @user, :url => update_nickname_path, 
      :html => { :class => 'form-horizontal' } do |f|
      = f.input :nickname
      .form-actions
        = f.button :submit, :class => 'btn-warning', :value => t('.submit')