- content_for :title, '25c - ' + t('.title')

=render 'layouts/fb_login'

= content_for(:js) do
  = javascript_include_tag "verify-email"
  :javascript
    $(document).ready(function() {
      $('#submit-email').click(function() {
        var userEmail = $('#user-email').val().replace(/\s+/g, ' ');
        if (isValidEmailAddress(userEmail)) {
          var data = { user: { email: userEmail } };
          putUrl = '#{ j home_account_url }';
          $.ajax({
            type: "PUT",
            url: putUrl,
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function() {
              location.reload();
            },
            error: function() {
              $('#email-error').show().text('#{ t('.email_taken') }');
            }
          });
        } else {
          $('#email-error').show().text('#{ t('.email_invalid') }');
        }
      });
    });
  
%h2.page-header= t('.title')
%p#user-email-instructions= t('.email_instructions')
%input#user-email{ :type => 'text', :name => 'user[email]', :value => '' }
#submit-email.btn.btn-strong= t('.submit_email')
#email-error.errors.hidden