= content_for(:js) do
  :javascript
    $('body').load(function() {
      window.open('', '_self', '');
    });
    $(document).ready(function() {
      $('a.btn').click(function() {
        // setTimeout("self.close();", 100);
      });
    });


%body#tip-body
  #tip-center.main-content
    = render 'layouts/alerts'
    %img#tip-25c-logo{:src => image_path('25c-logo-large.png')}
    #tip-25c-tagline.lead= t('application.title')
    / #tip-thanks Thanks for giving a tip!
    %a= link_to t('.visit_25c'), root_path, :class => 'btn', :target => 'blank'
    %a= link_to t('.view_account'), home_dashboard_path, :class => 'btn', :target => 'blank'

  = javascript_include_tag "application"
  = yield(:js)