- content_for :title, (@user.display_name + t('.title'))
- content_for :js do
  / = javascript_include_tag "jquery.dataTables.min"
  / = javascript_include_tag "paging"
  / = javascript_include_tag "profile-click-table"
- if @is_editable
  - content_for :js do
    = javascript_include_tag "edit-profile"
    :javascript
      window.updateProfileUrl = '#{ j update_profile_url }';
    

%iframe#upload-image{:src => upload_image_path }
#profile-container
  = simple_form_for @user, :url => update_profile_path, :html => { :multipart => true } do |f|
    .row
      / =link_to t('.edit_url'), home_account_path, :class => 'btn buffer'
      .span4
        #user-profile
          .block
            .input-block
              - if @is_editable
                #upload-button.btn= t('.image_upload')
                #image-block
            = image_tag(@user.picture, :id => 'user-image')
          .block#name-block
            - if @is_editable
              .input-block
                %input{:type => 'text', :name => 'user[first_name]', 
                  :value => @user.first_name.blank? ? t('.first_name_default') : @user.first_name,
                  :id => 'first_name_input'}
                %input{:type => 'text', :name => 'user[last_name]', 
                :value => @user.last_name.blank? ? t('.last_name_default') : @user.last_name,
                :id => 'last_name_input'}
            %p.content-block.emphasis
              =@user.first_name.blank? ? t('.enter_name') :  @user.first_name
              =@user.last_name.blank? ? '' : @user.last_name
          .block#about-block.clear
            .input-block
              %textarea{:id => 'about', :name => 'user[about]', :rows => 3}
                =@user.about.blank? ? t('.enter_about') : @user.about
      .span8
        %h3 #{t('.support_title')} #{@user.display_name}.
        #button-holder
          <a href="https://www.plus25c.com/tip/#{@button.uuid}" class="tip-25c-button" data-size="btn-large">#{@button.title}</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;    js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}    (document,"script","tip-25c-js");</script>

        %h3.table-title
          = @user.display_name + t('.tips_title')
        .table-wrapper
          %table#clicks-given.clicks-table.table.table-condensed.table-striped
            %thead
              %tr
                %th.click-amount= t('.amount')
                %th.click-provider= t('.provider')
                %th.click-referrer= t('.referrer')
            %tbody
              - if @click_sets.length > 0
                - @click_sets.each do |set|
                  %tr
                    %td.click-amount #{set[0]}
                    %td.click-user= set[1].button.user.display_name
                    %td.click-referrer= link_to set[1].referrer, set[1].referrer, :target => "_blank"
              - else
                %tr
                  %td.click-amount 0
                  %td.click-user= t('.no_clicks')
                  %td.click-referrer
  