- content_for :title, (@user.display_name + t('.title'))
- content_for :js do
  - if @is_editable
    = javascript_include_tag "edit-profile"
    :javascript
      window.updateUserUrl = '#{ j home_account_url }';
      window.youtubeId = '#{ j @button.youtube_id }';
      window.hasButtonPicture = '#{ @button.picture.exists? }' == 'true';
      window.updateButtonUrl = '#{ j home_update_button_url }';
      window.enterUserAboutText = '#{ j t('.enter_about') }';
      window.enterButtonDescriptionText = '#{ j t('.enter_button_description') }';
      window.enterButtonTitleText = '#{ j t('.enter_button_title') }';
      
  - else
    - content_for :js do
      :javascript
        $(document).ready(function() {
          $('#button-fields .content-block').css({display: 'block', visibility: 'visible'});
          $('#project-action').css('background-color', 'transparent');
          $('#user-profile textarea').attr('readonly', 'readonly').css('cursor', 'text');
          $('#user-profile #user-picture').load(function() {
            setTimeout(function() {
              var picOffset = ($('#user-profile #user-picture').height() - 200) / 2;
              if (picOffset > 0) $('#user-profile #user-picture').css('margin-top', -picOffset);
            }, 100);
          });
        });
  :javascript
    window.fbShareDescription = '#{ t('.fb_share_description') }';
    window.fbShareCallbackUrl = '#{ j fb_share_callback_url }';
    var profile_url = window.location.protocol + '//' + window.location.hostname;
    if (profile_url.indexOf('localhost') != -1) profile_url += ':3000';
    profile_url += window.location.pathname;

    $('#fb-share').click(function() {
      var fbShareHref = "https://www.facebook.com/dialog/feed?display=popup"
        + "&app_id=#{ FACEBOOK_SETTINGS['app_id'] }"
        + "&link=" + profile_url
        + "&picture=" + "http://assets.25c.com.s3.amazonaws.com/logos/icon-50.png"
        + "&name=" + fbShareText
        + "&caption=" + " "
        + "&description=" + fbShareDescription
        + "&redirect_uri=" + fbShareCallbackUrl;
      openPopup(fbShareHref, "Share on Facebook");
    });

    $('#tw-share').click(function() {
      var $this = $(this);
      var twShareHref = "https://twitter.com/share?url=" + encodeURIComponent(profile_url);
      openPopup(twShareHref, "Share on Twitter");
    });
    
  - if @button.title.blank?
    :javascript
      window.fbShareText = '#{ t('.fb_share_user_title', :user_name => @user.display_name) }';
  - else
    :javascript
      window.fbShareText = '#{ t('.fb_share_button_title', :button_title => @button.title) }';

  - if mobile_device?
    :javascript
      window.youtubeSize = [ 430, 280 ];
  - else
    :javascript
      window.youtubeSize = [ 560, 341 ];

= content_for(:head) do
  :css
    body{ min-width: 480px; }

    

- if @is_editable
  %iframe#upload-picture{:src => upload_picture_path }
#profile-container
  #user-profile.pull-left
    .block.pull-left
      .input-block
        - if @is_editable
          #upload-user-picture.btn= t('.upload_user_picture')
      #user-picture-container
        = image_tag(@user.picture, :id => 'user-picture')
    .pull-left
      - if @is_editable
        .block#name-block
          .input-block
            %input{:type => 'text', :name => 'user[pledge_name]', 
            :value => @user.pledge_name.blank? ? @user.display_name : @user.pledge_name,
            :id => 'pledge_name_input'}
          %p.content-block.emphasis
            =@user.pledge_name.blank? ? @user.display_name : @user.pledge_name
        .block#about-block.clear
          .input-block
            %textarea{:id => 'about', :name => 'user[about]', :rows => 3}
              =@user.about.blank? ? t('.enter_about') : @user.about
      - else
        .block#name-block
          %p.content-block.emphasis
            =@user.pledge_name.blank? ? @user.display_name : @user.pledge_name
        .block#about-block.clear
          .input-block
            %textarea{:id => 'about', :name => 'user[about]', :rows => 3}
              =@user.about.blank? ? '' : @user.about
    .clear
  .clear
#project-container
  #project-action
    #button-fields
      #button-title-block.block
        - if @is_editable
          .input-block
            / %label= t('.button_title_label')
            %input{:type => 'text', :name => 'title', 
            :value => @button.title.blank? ? t('.enter_button_title') : @button.title,
            :id => 'button-title-input'}
        .content-block
          #profile-button-title
            / = t('.button_title_intro')
            %span#button-title= @button.title.blank? ? @user.display_name : @button.title
                              
      - if not @button.youtube_id.blank?
        #youtube-embed-container
          - if mobile_device?
            %iframe{ :id => 'video-iframe',
              :title => 'YouTube Video Player',
              :width => '430',
              :height => '280',
              :src => 'https://www.youtube.com/embed/' + @button.youtube_id,
              :frameborder => '0' }
          - else
            %iframe{ :id => 'video-iframe',
              :title => 'YouTube Video Player',
              :width => '560',
              :height => '341',
              :src => 'https://www.youtube.com/embed/' + @button.youtube_id,
              :frameborder => '0' }
        #button-picture-container.hide
      - elsif @button.picture.exists?
        #youtube-embed-container.hide
        #button-picture-container
          = image_tag(@button.picture, :id => 'button-picture')
      - elsif @is_editable
        #youtube-embed-container.hide
        #button-picture-container.hide
      #button-description-block.block
        - if @is_editable
          .input-block
            / %label= t('button_description_label')
            %textarea{:id => 'button-description-input', :name => 'description', 
              :rows => 1}
              = @button.description.blank? ? t('.enter_button_description') : @button.description
        .content-block
          #button-description
            = @button.description.blank? ? t('.button_description_default') : @button.description
    .clear
  
  #project-content.center
    #button-holder.center.buffer
      %a{ :href => "https://www.25c.com/tip/" +  @button.uuid.to_s, 
        :class => "tip-25c-button",
        :'data-size' => "btn-large",
        :'data-user' => @button.user.display_name, 
        :'data-profile' => @button.user.profile_url }
        #{@button.title}
      :javascript 
        !function(d,s,id){
          var js,fjs=d.getElementsByTagName(s)[0];
          if(!d.getElementById(id)){
            js=d.createElement(s);js.id=id;
            js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
            fjs.parentNode.insertBefore(js,fjs);
          }
        } (document,"script","tip-25c-js");
    #profile-share-container.buffer
      = t('.share_profile')
      #fb-share= image_tag("logos/facebook.png")
      #tw-share= image_tag("logos/twitter.png")
    - if @is_editable
      #project-edit
        #edit-content-title= t('.add_project_content')
        .update-button-field
          %span#remove-button-video.btn.hide= t('.remove_video')
        .update-button-field
          %span#remove-button-picture.btn.hide= t('.remove_button_picture')
        .update-button-field
          #upload-button-picture.btn= t('.upload_button_picture')
        / %label= t('.choose_youtube_video')
        #youtube-input
          %input{:type => 'text', :name => 'youtube_link', 
            :id => 'upload-youtube-url'}
          #youtube-button.btn= t('.save_video')
        #no-edit= link_to(t('.no_edit'), '?edit=no', :target => '_blank')

- if @user.show_donations and @click_sets.length > 0
  - if mobile_device?
    = render :partial => "donations_mobile"
  - else
    = render :partial => "donations_desktop"
.clear