=render 'layouts/fb_login'

- if signed_in?
  = content_for(:js) do
    :javascript
      $('body').load(function() {
        window.open('', '_self', '');
      });
      $(document).ready(function() {
        $('a').click(function() {
          setTimeout(function() { window.close(); }, 100);
        });
      });
  - unless @new_account.blank?
    :javascript
      var width = 700;
      var height = 480;
      var left = (screen.width - width) / 2;
      var top = (screen.height - height) / 2;
      window.resizeTo(width, height);
      window.moveTo(left, top);

%body#tip-body
  #tip-outer-container
    #tip-header-container
      %a#tip-nav-logo.pull-left{ :href => root_path }
        %img{ :src => image_path('logo-incline-01.png') }
      #tip-nav-tagline.pull-left= t('layouts.header.tagline')
      .clear
    #tip-inner-container
      #tip-center.main-content
        - if signed_in?
          - if params[:overdraft]
            #tip-overdraft.center
              %p.buffer= t('.over_limit')
              = link_to t('.payment'), home_payment_path, :class => 'btn btn-strong', 
                :target => '_blank'
          - elsif @new_account.blank?
            - if @source == 'javascript'
              #tip-result.center
                %p.buffer= t('.signed_in')
                .tip-close-container
                  %a= link_to t('.done'), '#', :class => 'btn', :id => 'close'
            - else
              #tip-result.center
                %p= t('.pledge_to', :provider => @button.user.display_name)
                %p= t('.pledge_more')
                #tip-button-holder.center
                  %a.tip-25c-button{ :href => "/tip/#{@button.uuid}", :'data-size' => "btn-large" } 
                    #{@button.title}
                  :javascript
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
                    js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
                    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tip-25c-js");
                .tip-close-container
                  %a= link_to t('.done'), '#', :class => 'btn', :id => 'close'
          - else
            %p= raw t('.new_welcome', :home_url => link_to('25c.com', root_path, :target => '_blank') , 
              :account => t('.' + @new_account))
            %p= t('.new_p1')
            %p= t('.new_button', :provider => @button.user.display_name)
            #tip-button-holder.center
              %a.tip-25c-button{ :href => "/tip/#{@button.uuid}", :'data-size' => "btn-large" } 
                #{@button.title}
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
                js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
                fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tip-25c-js");
            %p= t('.new_p2')
            %p= t('.new_p3')
            %p= raw t('.new_undo', :undo_button => link_to(t('.undo_button'), home_undo_clicks_path, 
              :class => 'btn', :target => '_blank'))

        - else
          = render 'layouts/sign_in_form'

= javascript_include_tag "application"
= yield(:js)


