= content_for(:js) do
  :javascript
    window.updateUserUrl = '#{ j home_account_url }';
  = javascript_include_tag "process-agreement"

#user-agreement-container
  / %h2= t('.title')
  %p= raw t('.agreement_text')
  %p
    25c #{link_to t('.terms'), terms_path}, #{link_to t('.privacy'), privacy_path}
#agree-button-container.center
  =link_to t('.agree'), '#', :class => 'btn btn-warning', :id => 'agree-button'