= content_for(:js) do
  :javascript
    window.updateUserUrl = '#{ j home_account_url }';
    window.nextUrl = '#{ j @next_url }';
    
    $(document).ready(function(){
      $('#agree-button').click(function() {
        userData = {};
        userData['has_agreed'] = true;
        var updates = { user: userData, async: 'true' };
        $.ajax({
          type: 'PUT',
          url: updateUserUrl,
          data: JSON.stringify(updates),
          contentType: 'application/json',
          dataType: 'json',
          success: function(data) {
            location.reload();
          }
        });
      });
    });

.row
  .span11.main-content
    #user-agreement-container
      / %h2= t('.title')
      %p= raw t('.agreement_text')
      %p
        25c #{link_to t('.terms'), terms_path}, #{link_to t('.privacy'), privacy_path}
    #agree-button-container.center
      =link_to t('.agree'), '#', :class => 'btn btn-warning', :id => 'agree-button'