%div{ :id => widget_type }
  .widget-settings-col
    %h3.buffer= t('.settings')
  
    - unless @button.errors.blank?
      .errors= @button.errors.full_messages
  
    = simple_form_for @button, 
      :url => '', 
      :html => { :class => 'form' } do |f|
      = f.input :title
      = f.hidden_field(:widget_type, :value => widget_type)
    
      / - if widget_type == 'fan_belt'
      /   .control-group
      /     %label.control-label= t('.pictures_to_show')
      /     %select{ :name => 'button[additional_parameters[default_show]]' }
      /       - (1..10).each do |amount|
      /         %option{ :value => amount,
      /           :selected => @button.additional_parameters.blank? ? amount == 5 : amount.to_s == @button.additional_parameters['default_show'] } #{amount}
      
      / - elsif widget_type == 'testimonials'
      /   .control-group
      /     %label.control-label= t('.pictures_to_show')
      /     %select{ :name => 'button[additional_parameters[default_show]]' }
      /       - (1..10).each do |amount|
      /         %option{ :value => amount, 
      /           :selected => @button.additional_parameters.blank? ? amount == 5 : amount.to_s == @button.additional_parameters['default_show'] } #{amount}

      .share-controls.control-group

        %label.control-label= t('.share_title')
        #share-users
          - total_invites = 5
          - unless @button.share_users.blank?
            - total_invites -= @button.share_users.size
            - @button.share_users.each do |share|
              - user = User.find_by_id(share['user'])
              .share-container
                %input.share-checkbox{ :type => 'checkbox', :name => "existing_shares[]", 
                  :value => user.uuid, :checked => true }
                %span= t('.sharing', 
                  :amount => number_to_percentage(share['share_amount'], :precision => 0),
                  :name => user.display_name)
            
          - unless @invites.empty?
            - total_invites -= @invites.size
            - @invites.each do |invite|
              .share-container
                %input.share-checkbox{ :type => 'checkbox', :name => "existing_invites[]", 
                  :value => invite.uuid, :checked => true }
                %span= t('.invited', 
                  :amount => number_to_percentage(invite.share_amount, :precision => 0),
                  :email => invite.email, :date => l(invite.created_at, :format => :date_only))

          - (1..total_invites).each do |i|
            .share-container.disabled{ :class => i == 1 ? '' : 'hide' }
              %input.share-checkbox{ :type => 'checkbox', :name => "new_invites[#{i}]" }
          
              %span= t('.share')
              %select.share-amount{ :type => 'text', :name => "share_amounts[#{i}]" }
                - ['10', '20', '30', '40', '50', '60', '70', '80', '90'].each do |amount|
                  %option{ :value => amount } #{amount}%
              %span= t('.with')
              %input.share-email{ :type => 'text', :name => "share_emails[#{i}]", :value => "user@example.com"}
            .clear
        - if total_invites > 0
          %a.add-invite.pointer= t('.add_share_user')

      .form-submit
        = f.submit t('.save'), :class => 'btn btn-strong'
        %a=link_to t('.cancel'), publisher_widgets_url
  
  .widget-output-col
    %h3= t('.preview_title')
    .button-preview.buffer
  
    %h3= t('.code_title')
    .code-container
      %pre.button-code-block

  .clear