= content_for(:js) do
  = javascript_include_tag "sprintf-0.6"
  = javascript_include_tag "widget-config"
  :javascript
    window.buttonId = '#{ @button.uuid }';
    window.userNickname = '#{ @user.nickname.blank? ? '' : @user.nickname }';
    window.userPledgeName = '#{ @user.display_name }';
    window.buttonTitle = '#{ @button.title.gsub("'", "\\\\'") }';
    window.emailDefaultText = 'user@example.com';

%h3= t('.title')

%p= t('.instructions')

%a= link_to t('.back'), publisher_widgets_path, :class => 'btn'
.buffer

= render :partial => 'widget_config',
  :locals => { :widget_type => @button.widget_type, :is_new_widget => false }