- content_for :title, t('.title')

.row
  .span5
    .split-left
      %h2= t '.create_new_widget'
      = simple_form_for [ :publisher, @widget ] do |f|
        = f.input :title, :required => false
        = f.input :website_url, :required => false
        = f.submit t('.create_new_widget'), :class => 'button'
  .span11
    .split-right
      %h2= t '.manage_widgets'
      %table
        %thead
          %tr
            %th.col-age= Button.human_attribute_name(:age)
            %th.col-website= Button.human_attribute_name(:website)
            %th.col-amount-value= Button.human_attribute_name(:amount_paid_value)
            %th.col-amount-paid= Button.human_attribute_name(:amount_paid)
            %th.col-amount-free= Button.human_attribute_name(:amount_free)
            %th.col-action &nbsp;
        %tbody
          - @widgets.each do |widget|
            %tr
              %td.col-age= age(widget.created_at)
              %td.col-website #{link_to widget.website_host, widget.website_url}: #{widget.title}
              %td.col-amount-value &nbsp;
              %td.col-amount-paid &nbsp;
              %td.col-amount-free &nbsp;
              %td.col-action= link_to t('.edit'), publisher_button_path(widget)
              