= content_for(:js) do
  = javascript_include_tag "sprintf-0.6"
  = javascript_include_tag "widget-config"
  :javascript
    window.buttonId = '100';
    window.userNickname = '#{ @user.nickname.blank? ? '' : @user.nickname }';
    window.userPledgeName = '#{ @user.display_name }';
    window.buttonTitle = 'Sample Widget';
    window.emailDefaultText = 'user@example.com';
    $(document).ready(function(){
      $('.tab-title').click(function() {
        var $this = $(this);
        $('.tab-title.selected').removeClass('selected');
        $this.addClass('selected');
        $('.tab-content.selected').hide();
        $('#' + $this.attr('data-id')).addClass('selected').show();
      });
    });

%h3= t('.title')
%p= t('.instructions')
%a= link_to t('.back'), publisher_widgets_path, :class => 'btn'
.buffer

- default_type = params[:widget] ? params[:widget] : 'fan_belt'

#tab-titles
  - ['fan_belt', 'testimonials'].each do |type|
    .tab-title.pointer{ :'data-id' => type, 
      :class => default_type == type ? 'selected' : '' }= t('.' + type)
  .clear
  
#tab-contents
  - ['fan_belt', 'testimonials'].each do |type|
    .tab-content{ :id => type, :class => default_type == type ? 'selected' : 'hide' }
      = render :partial => 'widget_config', 
        :locals => { :widget_type => type, :is_new_widget => true }