- content_for :title, t('.title')

= content_for(:js) do
  = javascript_include_tag "sprintf-0.6"
  = javascript_include_tag "widget-config"
  :javascript
    window.buttonId = '#{ @widget.uuid }';
    window.userNickname = '#{ @user.nickname.blank? ? '' : @user.nickname }';
    window.userPledgeName = '#{ @user.display_name }';
    window.buttonTitle = '#{ @widget.title.gsub("'", "\\\\'") }';
    window.emailDefaultText = 'user@example.com';
    window.saveMessage ='#{ j t('publisher.widgets.update.success') }';

.row
  .span5
    .split-left
      %h2= t '.settings'
      #widget-form
        = render :partial => "form"
  .span11
    .split-right
      %h2= t '.page_config'
      = form_tag do
        .control-group.error
          = label_tag :permalink_url, t('.permalink_url'), :class => 'control-label'
          .controls
            = text_field_tag :permalink_url
            %span.help-block= t '.instructions'
        .control-group
          = label_tag :title, t('.title'), :class => 'control-label'
          .controls
            = text_field_tag :title
        .control-group
          = label_tag :width, t('.width'), :class => 'control-label'
          .controls
            = text_field_tag :width
      %h2= t('.code_title')
      .code-container
        %pre.button-code-block{ :style => 'display:none;' }
        %pre.button-code-error= t '.fix_error'
      .preview{ :style => 'display:none;' }
        %h2= t('.preview_title')
        .button-preview
