= content_for(:js) do
  :javascript
    window.inputText = '#{ j t('.input_text') }';
    $(document).ready(function(){
      $('#short-url-input').focusin(function() {
        $(this).removeClass('preview').val('');
      }).focusout(function() {
        if ($(this).val().replace(/\s+/g, ' ') == '') {
          $(this).addClass('preview').val(inputText);
        }
      });
      $('#get-short-url').click(function(){
        inputUrl = $('#short-url-input').val();
        // LJ: fill in URL generation code here
        // $.post(generateShortUrl, { url: inputUrl }).success(function(response) {
        // $('#url-output').text(response.shortUrl);
        // });
        $('#url-output').removeClass('disabled').text('http://25c.com/fakeUrl/');
      });
      
    });

.row
  .span11
    %label{:for => "short_url"}= t('.input_label')
    %input#short-url-input.preview{:type => 'text', :size => 200, :name => 'short_url', 
      :value => t('.input_text')}
    %button#get-short-url.btn.btn-warning= t('.get_url')
    #url-output-container
      #url-output-label= t('.output_label')
      #url-output.disabled hello guvna
      .clear
    #share-url-container.clear
      #share-url-label= t('.share_label')
      .share-img= link_to image_tag("logos/facebook.png"), '#'
      .share-img= link_to image_tag("logos/twitter.png"), '#'
      .share-img= link_to image_tag("logos/google.png"), '#'
%hr