- content_for :title, '25c - ' + t('.title')

= content_for(:js) do
  = javascript_include_tag "sprintf-0.6"
  = javascript_include_tag "save-button"
  = javascript_include_tag "verify-email"                                                         
  :javascript
    window.buttonId = '#{ @button.uuid }';
    window.updateButtonUrl = '#{ j home_update_button_url }';
    window.shareEmailUrl = '#{ j home_share_email_url }';
    window.userNickname = '#{ @user.nickname.blank? ? '' : @user.nickname }';
    window.userPledgeName = '#{ @user.display_name }';
    window.isButtonPage = true;
    window.buttonSize = '#{ @button.size.blank? ? '' : @button.size }';
    window.invalidEmail = '#{ t('.invalid_email') }';

%h2.page-header= t('.title')
%p.buffer= t('.subtitle')

#choose-platform.step-container
  .step-number 1
  .step-content
    %h3.step-title= t('home.buttons.receive_pledges.choose_platform_title')
    .step-body
      .pull-left.platform-container{ :'data-platform' => 'html' }
        %input{ :type => 'radio', :name => 'platform' }
        = image_tag 'logos/web.png', :class => 'web-logo-img'
        %span.platform-text= t('.website')
      - ['wordpress', 'tumblr', 'posterous', 'blog-com', 'blogger', 'jux', 'weebly', 'youtube',
        'pinterest', 'facebook'].each do |platform|
        .pull-left.platform-container{ :'data-platform' => platform }
          %input{ :type => 'radio', :name => 'platform' }
          = image_tag 'logos/' + platform + '.png', :class => 'platform-logo-img'
      .clear
  .clear

#choose-button.step-container
  .step-number 2
  .step-content
    %h3.step-title= t('home.buttons.receive_pledges.choose_button_title')
    .step-body
      #button-choice-container
        - ['btn-large', 'btn-medium', 'btn-small', 'icon-large', 'icon-medium', 'icon-small',
          'tip-large', 'tip-medium', 'tip-small'].each do |size|
          .button-choice
            %input.button-size{ :type => 'radio', :name => 'button_size' }
            %span= t('home.buttons.receive_pledges.' + size)
            %img{ :src => image_path('buttons/25c-'+ size +'.png'), :'data-size' => size }
        .clear
  .clear

#get-code.step-container
  .step-number 3
  .step-content
    %h3.step-title.if-javascript= t('home.buttons.receive_pledges.get_code_title')
    %h3.step-title.if-link.hide= t('home.buttons.receive_pledges.get_link_title')
    .step-body.buffer
      #button-preview-container.if-javascript
        #button-preview-title
          = t('home.buttons.receive_pledges.button_preview')
        #button-preview     
      #code-container.if-javascript
        %p
          %b= t('home.buttons.receive_pledges.button_code')
        %pre#button-code-block
        - if @user.nickname.blank?
          #set-nickname-link.hide
            = link_to t('home.buttons.receive_pledges.set_nickname'), home_account_url
      .clear
    %h3.if-javascript= t('home.buttons.receive_pledges.installation')
    .step-body#install-instructions
      .html-instructions
        %p= raw t('home.buttons.receive_pledges.for_website')
      .wordpress-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_wordpress_1')
        %p= raw t('home.buttons.receive_pledges.for_wordpress_2')
        %p= raw t('home.buttons.receive_pledges.for_wordpress_3')
        %p= raw t('home.buttons.receive_pledges.for_wordpress_4')
      .tumblr-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_tumblr_1')
        %p= raw t('home.buttons.receive_pledges.for_tumblr_2')
        %p= raw t('home.buttons.receive_pledges.for_tumblr_3')
        %p= raw t('home.buttons.receive_pledges.for_tumblr_4')
        %p= raw t('home.buttons.receive_pledges.for_tumblr_5')
        %p= raw t('home.buttons.receive_pledges.for_tumblr_6')
      .posterous-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_posterous_1')
        %p= raw t('home.buttons.receive_pledges.for_posterous_2')
        %p= raw t('home.buttons.receive_pledges.for_posterous_3')
        %p= raw t('home.buttons.receive_pledges.for_posterous_4')
      .blog-com-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_blog-com_1')
        %p= raw t('home.buttons.receive_pledges.for_blog-com_2')
        %p= raw t('home.buttons.receive_pledges.for_blog-com_3')
        %p= raw t('home.buttons.receive_pledges.for_blog-com_4')
      .blogger-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_blogger_1')
        %p= raw t('home.buttons.receive_pledges.for_blogger_2')
        %p= raw t('home.buttons.receive_pledges.for_blogger_3')
        %p= raw t('home.buttons.receive_pledges.for_blogger_4')
      .jux-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_jux_1')
        %p= raw t('home.buttons.receive_pledges.for_jux_2')
        %p= raw t('home.buttons.receive_pledges.for_jux_3')
        %p= raw t('home.buttons.receive_pledges.for_jux_4')
      .weebly-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_weebly_1')
        %p= raw t('home.buttons.receive_pledges.for_weebly_2')
        %p= raw t('home.buttons.receive_pledges.for_weebly_3')
        %p= raw t('home.buttons.receive_pledges.for_weebly_4')
      .youtube-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_youtube_1')
        %p
          = raw t('home.buttons.receive_pledges.for_youtube_2')
          %span.profile-link
      .pinterest-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_pinterest_1')
        %p
          = raw t('home.buttons.receive_pledges.for_pinterest_2')
          %span.profile-link          
      .facebook-instructions.hide
        %p= raw t('home.buttons.receive_pledges.for_facebook_1')
        %p
          = raw t('home.buttons.receive_pledges.for_facebook_2')
          %span.profile-link
  .clear
  
= render :partial => 'share_revenue'
