= content_for(:head) do
  = javascript_include_tag "save-button"

.row
  .span12
    %h2.page-header= t('.title')
  .span4
    %h4= t('.button_form')
    = simple_form_for @button, :url => home_button_path(@button) do |f|
      = f.input :size, :as => :radio_buttons, :collection => ["large", "medium", "icon"]
      = f.input :title, :required => false
      = f.input :description, :required => false, :input_html => { :rows => '3' }
      %div
        = f.button :submit, :class => 'btn btn-primary'
        %span.hide#save-button-message= t('.saving_button')
  .span8
    %h4= t('.button_preview')
    #button-preview-container
      %img#button-preview-image{:src => image_path('25c-button-large.png')}
    %h4= t('.button_code')
    %pre#button-code-block
      :escaped
        <a href="https://api.25c.com/#{@button.uuid}" data-lang="en">+25c</a>
      %br
      :escaped
        <script>(function(){ var src = (window.location.protocol == 'https:' ? 'https:' : 'http:'"//www.plus25c.com/javascripts/button/button-compiled.js?id=#{@button.uuid}
      %span#button-code-params>
      :escaped
        "; document.write('<scri' + 'pt src="' + src + '"></scr' + 'ipt>');}());</script>