= content_for(:js) do
  = javascript_include_tag "save-button"

.row
  .span12
    %h2.page-header= t('.title')
  .span4
    %h4= t('.button_form')
    = simple_form_for @button, :url => home_button_path(@button) do |f|
      = f.input :size, :as => :radio_buttons, :collection => ["large", "medium", "icon"]
      = f.input :title, :required => false
      = f.input :description, :required => false, :input_html => { :rows => '3' }
      %div
        = f.button :submit, :class => 'btn btn-primary'
        %span.hide#save-button-message= t('.saving_button')
  .span8
    %h4= t('.button_preview')
    #button-preview-container
      %img#button-preview-image{:src => image_path('25c-button-large.png')}
    %h4= t('.button_code')
    %pre#button-code-block
      :escaped
        <a href="https://www.plus25c.com/tip/#{@button.uuid}" class="tip-25c-button" data-size="
      %span#button-code-params>
      :escaped
        ">Tip me +25c!</a>
      %br
      :escaped
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//api.plus25c.com/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tip-25c-js");</script>
