= content_for(:js) do
  = javascript_include_tag "save-button"                                                          
  :javascript
    window.buttonId = '#{ @button.uuid }';
    window.updateButtonUrl = '#{ j home_update_button_url }';
    window.updateUserUrl = '#{ j home_account_url }';
    window.userNickname = '#{ @user.nickname.blank? ? '' : @user.nickname }';
    window.userDisplayName = '#{ @user.display_name }';
    window.fbShareDescription = '#{ t('.fb_share_description') }';
    window.fbShareCallbackUrl = '#{ j fb_share_callback_url }';
    window.fbShareTitle = '#{ t('.fb_share_title') }';
    window.nicknameTaken = '#{ t('.nickname_taken') }';
    window.nicknameBlank = '#{ t('.nickname_blank') }';
    window.invalidUrl = '#{ t('.invalid_url') }';
    window.isButtonPage = false;
    window.buttonTitleDefault = '#{ t('.enter_title') }';
    window.buttonDescriptionDefault = '#{ t('.enter_description') }';
    //window.buttonInfoUrlDefault = '#{ t('.enter_info_url') }';
    window.userAboutDefault = '#{ t('.enter_about') }';

%h2.page-header= t('.title')
%p.buffer= t('.subtitle')
  
#describe-cause.step-container
  .step-number 1
  .step-content
    %h3.step-title= t('.describe_cause_title')
    .step-body
      .label-column.pull-left
        %label= t('.button_title_label')
      .input-column.pull-left
        %input#button-title{ :type => 'text', :name => 'button[title]',
          :value => @button.title.blank? ? t('.enter_title') : @button.title }
      .label-column.clear.pull-left
        %label= t('.button_description_label')
      .input-column.pull-left
        %textarea#button-description{ :name => 'button[description]', :rows => 3 }
          = @button.description.blank? ? t('.enter_description') : @button.description
      / .label-column.pull-left
      /   %label= t('.button_info_url_label')
      / .input-column.pull-left
      /   %input#button-info-url{ :type => 'text', :name => 'button[info_url]',
      /     :value => @button.info_url.blank? ? t('.enter_info_url') : @button.info_url }
      .clear
      #set-button-info.btn.btn-strong= t('.set_button_info')
  .clear
  
#describe-user.step-container.hide
  .step-number
  .step-content
    %h3.step-title= t('.describe_user_title')
    .step-body
      .label-column.pull-left
        %label= t('.user_picture_label')
      .input-column.pull-left
        #upload-picture-fields
          #upload-user-picture.btn= t('.upload_picture')

          - if @user.picture_updated_at
            %span#current-picture-container
              %input#current-picture-checkbox{ :type => 'checkbox', :checked => true }
              %span#current-picture-link
                = t('.picture_link')
                = image_tag(current_user.get_thumb, :class => 'thumb-picture')
          - else
            %span#current-picture-container.hide
              %input#current-picture-radio{ :type => 'radio', :checked => true }
              %span#current-picture-link
                = t('.picture_link')
                = image_tag(current_user.get_thumb, :class => 'thumb-picture')

      - if @user.nickname.blank?
        .clear.label-column.pull-left
          %label.buffer= t('.user_nickname_label')
        .input-column.pull-left
          %input#user-nickname
          %p= t('.user_nickname_hint')
      .clear.label-column.pull-left
        %label= t('.user_about_label')
      .input-column.pull-left
        %textarea#user-about{ :name => 'user[about]', :rows => 3 }
          = @user.about.blank? ? t('.enter_about') : @user.about
      .clear
      #set-user-info.clear.btn.btn-strong= t('.set_user_info')
  .clear

#choose-platform.step-container.hide
  .step-number
  .step-content
    %h3.step-title= t('.choose_platform_title')
    .step-body
      .pull-left.platform-container{ :'data-platform' => 'html' }
        %input{ :type => 'radio', :name => 'platform' }
        = image_tag 'logos/web.png', :class => 'web-logo-img'
        %span.platform-text= t('.website')
      .pull-left.platform-container{ :'data-platform' => 'wordpress' }
        %input{ :type => 'radio', :name => 'platform' }
        = image_tag 'logos/wordpress.png', :class => 'platform-logo-img'
      .pull-left.platform-container{ :'data-platform' => 'tumblr' }
        %input{ :type => 'radio', :name => 'platform' }
        = image_tag 'logos/tumblr.png', :class => 'platform-logo-img'
      .pull-left.platform-container{ :'data-platform' => 'posterous' }
        %input{ :type => 'radio', :name => 'platform' }
        = image_tag 'logos/posterous.png', :class => 'platform-logo-img'
      .pull-left.platform-container{ :'data-platform' => 'youtube' }
        %input{ :type => 'radio', :name => 'platform' }
        = image_tag 'logos/youtube.png', :class => 'platform-logo-img'
      .clear
      #no-platform.pull-left.platform-container{ :'data-platform' => 'none' }
        %input{ :type => 'radio', :name => 'platform' }
        %span.platform-text= t('.no_platform')
  .clear

#choose-button.step-container.hide
  .step-number
  .step-content
    %h3.step-title= t('.choose_button_title')
    .step-body
      #button-choice-container
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.btn-large')
          %img{ :src => image_path('buttons/25c-btn-large.png'), :'data-size' => 'btn-large' }
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.icon-large')
          %img{ :src => image_path('buttons/25c-icon-large.png'), :'data-size' => 'icon-large' }
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.btn-medium')
          %img{ :src => image_path('buttons/25c-btn-medium.png'), :'data-size' => 'btn-medium' }

        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.icon-medium')
          %img{ :src => image_path('buttons/25c-icon-medium.png'), :'data-size' => 'icon-medium' }
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.btn-small')
          %img{ :src => image_path('buttons/25c-btn-small.png'), :'data-size' => 'btn-small' }
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.icon-small')
          %img{ :src => image_path('buttons/25c-icon-small.png'), :'data-size' => 'icon-small' }

        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.icon-text')
          #icon-text-container
            %img{ :src => image_path('buttons/25c-icon-text.png'), :'data-size' => 'icon-text' }
            %span#icon-text 25c
        
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.round-large')
          %img{ :src => image_path('buttons/25c-round-large.png'), :'data-size' => 'round-large' }
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.round-medium')
          %img{ :src => image_path('buttons/25c-round-medium.png'), :'data-size' => 'round-medium' }
        .button-choice
          %input.button-size{ :type => 'radio', :name => 'button_size' }
          %span= t('.round-small')
          %img{ :src => image_path('buttons/25c-round-small.png'), :'data-size' => 'round-small' }

        .clear
  .clear

#get-code.step-container.hide
  .step-number
  .step-content
    %h3.step-title.blog-instructions.instructions.hide= t('.get_code_title_blog')
    %h3.step-title.html-instructions.instructions.hide= t('.get_code_title_website')
    %h3.step-title.youtube-instructions.instructions.hide= t('.get_code_title_youtube')
    .step-body.buffer
      #button-preview-container.pull-left
        #button-preview-title Button Preview:
        #button-preview        
        
      #code-container.pull-left
        %p
          %b= t('.button_code')
        %pre#button-code-block
        - if @user.nickname.blank?
          #set-nickname-link.hide
            = link_to t('.set_nickname'), home_account_url
      .clear
    %h3= t('.installation')
    .step-body
      %p.html-instructions.instructions= raw t('.for_website')
      %p.blog-instructions.instructions.hide= raw t('.for_blogs')
      %p.youtube-instructions.instructions.hide= raw t('.for_youtube')
  .clear
  
#share-cause.step-container.hide
  .step-number
  .step-content
    %h3.step-title= t('.share_cause_title')
    .step-body
      #profile-link.buffer= raw t('.profile_link', :link => link_to('', '#', :target => '_blank'))
      #share-cause.buffer
        = t('.share_cause_label')
        #fb-share= image_tag("logos/facebook.png")
        #tw-share= image_tag("logos/twitter.png")
      %p= t('.share_cause_note_p1')
      %p= t('.share_cause_note_p2')
  .clear

#view-dashboard.step-container.hide
  .step-number
  .step-content
    %h3.step-title= t('.view_dashboard_title')
    .step-body
      %p= raw t('.view_dashboard', :link => link_to(t('.view_dashboard_link'), home_dashboard_path))
      %p= t('.request_payout')
      %p= raw t('.enhance_profile', 
        :link => link_to(t('.enhance_profile_link'), home_profile_path))
  .clear
  
%iframe#upload-picture{ :src => upload_picture_path }
