- content_for :title, '25c - ' + t('.title')

= content_for(:js) do
  = javascript_include_tag "sprintf-0.6"
  = javascript_include_tag "save-button" 
  = javascript_include_tag "verify-email"                                                         
  :javascript
    window.buttonId = '#{ @button.uuid }';
    window.updateButtonUrl = '#{ j home_update_button_url }';
    window.shareEmailUrl = '#{ j home_share_email_url }';
    window.updateUserUrl = '#{ j home_account_url }';
    window.userNickname = '#{ @user.nickname.blank? ? '' : @user.nickname }';
    window.userPledgeName = '#{ @user.display_name }';
    window.fbShareDescription = '#{ t('.fb_share_description') }';
    window.fbShareCallbackUrl = '#{ j fb_share_callback_url }';
    window.fbShareTitle = '#{ t('.fb_share_title') }';
    window.nicknameTaken = '#{ t('.nickname_taken') }';
    window.nicknameBlank = '#{ t('.nickname_blank') }';
    window.invalidUrl = '#{ t('.invalid_url') }';
    window.isButtonPage = false;
    window.buttonTitleDefault = '#{ t('.enter_title') }';
    window.invalidEmail = '#{ t('.invalid_email') }';
    // window.buttonDescriptionDefault = '#{ t('.enter_description') }';
    // window.buttonInfoUrlDefault = '#{ t('.enter_info_url') }';
    // window.userAboutDefault = '#{ t('.enter_about') }';

%h2.page-header= t('.title')
%p.buffer= t('.subtitle')

= render :partial => 'describe_cause'

= render :partial => 'choose_platform', :locals => { :hide => true }

= render :partial => 'choose_button', :locals => { :hide => true }

= render :partial => 'get_code', :locals => { :hide => true }

= render :partial => 'share_cause', :locals => { :hide => true }

= render :partial => 'view_dashboard', :locals => { :hide => true }
  
/ = render :partial => 'share_revenue', :locals => { :hide => true }
  
%iframe#upload-picture{ :src => upload_picture_path }
