- content_for :title, "About 25c Inc"
- content_for :meta_description, "25c simplifies social micro-donations. One click, one quarter. Quickly install the +25c button on your website or blog and use it to start receive 25c pledges today!"

<div id="action-container" class="center">
<span id="action-question">
Ready to get started with 25c?
</span>
<a id="action-button" class="btn btn-strong" href = #{home_receive_pledges_path}>
Get Set Up to Collect Micro-Donations
</a>
</div>

<div class="main-col">
<h2 class="page-header">About 25c Inc.</h2>

<p>25c is the best way to tip online -- in amounts as small as 25 cents.

<p>At 25c Inc., we provide creators an additional source of income based on a direct connection with supporters.

<p>Our first offering is a simple utility called the +25c Button and the tip.25c.com link.  Anyone who has a website, blog, or Youtube video can easily embed the 25c Button/Link -- and start receiving 25c pledges in a breeze.

<P>The +25c Button essentially combines a 'Like' with a 25-cent pledge and integrated payment processing.  +25c is “multi-one-click”, so clicking it twice pledges 50 cents, etc. 

<p>25c Inc. is a privately held company located in San Francisco, California.  Founded by Sylvio Drouin, Lionel Jingles, Francis Li, and Martin Roscheisen, the company operates a "value graph" micro-pledge processing network and owns a growing patent portfolio.

</div>

<div class="side-col pull-right">

<h3 class="side-col-title">Contact</h3>
<p>The best way to reach us is via email to <b>hello@25c.com</b>.
<p>We read every email even though we may not always be able to answer.

<p><b>Address:</b></p>
<p>25c Inc.<br />
660 York St<br />
San Francisco, CA 94110<br />
(415) 745-2605</p>

<p class="buffer"><b>Email: hello@25c.com</b><p>

<h3>Try out +25c: Support Us!</h3>
<p>Click here to pledge 25c to 25c Inc.:</p>

<div id ="about-button-container">
<a href="https://www.25c.com/tip/#{@button.uuid.to_s}" class="tip-25c-button" data-size="btn-large" data-user="25c Inc." data-profile="#{@profile_url}"></a>

<script>
!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){
js=d.createElement(s);js.id=id;
js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
fjs.parentNode.insertBefore(js,fjs);
}
} (document,"script","tip-25c-js");
</script>

<div class="hide">
- unless @button.nil?
  <iframe src="//#{ENV['API25C_URL']}/button/#{@button.uuid.to_s}?size=btn-large" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="114" height="40"></iframe>
</div>

</div>

</div>

<div class="clear"></div>
