= content_for(:js) do
  :javascript    
    $('#fb-share').click(function() {
      var fbShareHref = "https://www.facebook.com/dialog/feed?display=popup"
        + "&app_id=#{ FACEBOOK_SETTINGS['app_id'] }"
        + "&link=#{ root_url }"
        + "&picture=http://assets.25c.com.s3.amazonaws.com/logos/25c-logo-medium.png"
        + "&name=#{ j t('.facebook_share_title') }"
        + "&caption=" + " "
        + "&description=#{ j t('.facebook_share_description') }"
        + "&redirect_uri=#{ j fb_share_callback_url }";
      openPopup(fbShareHref, "Share on Facebook");
    });
    $('#tw-share').click(function() {
      var twShareHref = "https://twitter.com/share?url=" + encodeURIComponent("#{ root_url }");
      openPopup(twShareHref, "Share on Twitter");
    });


#splash-title-top.highlight= t('.title_top')
#splash-title-bottom.highlight.center= t('.title_bottom')

#splash-arrows.center= image_tag 'front/arrows-01.png'

#splash-container
  #splash-button-title.center= raw t('.button_title')
  #splash-legend.pull-left
    %div= t('.legend_p1')
    %div= t('.legend_p2')
    %div= t('.legend_p3')
    %div= t('.legend_p4')
  #splash-button.center.pull-left= image_tag 'front/button-01.png'
  #splash-tooltip.pull-left
    = t('.pledge_to')
    %span.highlight= t('.cause')
    #splash-tooltip-share
      = t('.share')
      #fb-share= image_tag("logos/facebook.png")
      #tw-share= image_tag("logos/twitter.png")
  #splash-arrow.center.clear= image_tag 'front/arrow-01.png'
  %a#splash-call.btn.highlight.pull-left{ :href => home_receive_pledges_path }= raw t('.set_up')
  #splash-explain.highlight.pull-left
    %div= t('.explain_p1')
    %div= t('.explain_p2')
    %div= t('.explain_p3')
  .clear