.splash
  #splash-how-it-works.pull-left
    %h2= t('.how_it_works')
  #splash-graphics.pull-left
  #splash-25c-button.pull-left
    %h2= raw t('.25c_button_legend')
    .lead= t('.25c_button_legend_sub')
  .clear.buffer
  .lead.splash-title.center= raw t('.collect_title')
  .splash-column.pull-left.center
    .lead= t('.create_button_title')
    =link_to t('.create_button_button'), home_receive_pledges_path, :class => 'btn btn-large btn-warning',
      :id => 'add-25c-button'
  .splash-column.pull-left.center
    .lead= t('.create_profile_title')
    =link_to t('.create_profile_button'), @profile_path, :class => 'btn btn-large btn-warning',
      :id => 'create-profile'
  .clear.buffer
