=content_for(:js) do
  :javascript
    $(document).ready(function() {
      var linkText = {
        'about-more': '#{ t('.about-more')}',
        'about-less': '#{ t('.about-less')}',
        'button-more': '#{ t('.button-more')}',
        'button-less': '#{ t('.button-less')}'
      };
      
      $('#splash-buttons #facebook-btn').click(function() {
        FB.login();
      });
      
      $('.more-link').click(function(e) {
        e.preventDefault();
        var $link = $(this);
        var target = $link.attr("href").substring(1);
        $('.more-content[name="' + target + '"]').slideToggle('slow', function() {
          if ($(this).is(':visible')) $link.text(linkText[target + '-less']);
          else $link.text(linkText[target + '-more']);
        });
        window.location.hash = target;
      });
      
      var hash = window.location.hash.substring(1);
      if ($.inArray(hash, ['button', 'about']) != -1) {
        var $link = $('a.more-link[href$="' + hash + '"]');
        $link.click();
        $(window).scrollTop($link.parent().offset().top - 40) 
      }

      var position = 0;
      $('.circle').click(function() {
        if ($(this).hasClass('selected-circle')) return;
        if (position) {
          $('#text2').fadeOut('fast', function() {$('#text1').fadeIn('fast')});
          $('#value-div').animate({marginLeft: 0}, 'slow');
          position = 0;
        } else {
          $('#text1').fadeOut('fast', function() {$('#text2').fadeIn('fast')});
          $('#value-div').animate({marginLeft: -500}, 'slow');
          position = 1;
        }
        $('.selected-circle').removeClass('selected-circle');
        $(this).addClass('selected-circle');
      });
    });

.splash
  .row
    .span11
      %h1#splash-title= t('.value_proposition')
    .span4#splash-left
      #text1.splash-text
        %p.lead= raw t('.value_proposition_sub1q')
        %p.lead= raw t('.value_proposition_sub1a')
      #text2.splash-text.hide
        %p.lead= raw t('.value_proposition_sub2q')
        %p.lead= raw t('.value_proposition_sub2a')
      %div#splash-buttons
        .hide
          .fb-login-button(data-scope="email,publish_actions")
        #facebook-btn.btn= t('users.sign_in.facebook')
        = link_to t('users.sign_in.twitter'), '/auth/twitter', :id => 'twitter-btn', 
          :class => 'btn'
        = link_to t('users.sign_in.google'), '/auth/google_oauth2', :id => 'google-btn', 
          :class => 'btn'
        %span.or-block= t('.or')
        %span= link_to t('.register'), register_path, :id => 'register-btn', :class => 'btn'
    .span7
      %div{:style => 'height: 250px; width: 500px; overflow: hidden'}
        #value-div{:style => 'position: relative'}
          %img#flow1{:src => image_path('flow1.png')}
          %img#flow2{:src => image_path('flow2.png'), :style => 'position: absolute'}
      %div{:style => 'width: 500px'}
        .circle.pull-right
        .circle.selected-circle.pull-right

.sub-splash
  .row
    .span11
      %h2= raw t('.about_25c_title')
      %p.lead= raw t('.about_25c_p1')
      .more-content.hide{:name => 'about'}
        %p.lead= raw t('.about_25c_p2')
        %p.lead= raw t('.about_25c_p3')
        %p.lead= raw t('.about_25c_p4')
      %p.lead= link_to t('.about-more'), '#about', :class => 'more-link'

.sub-splash
  .row
    .span11
      %h2= raw t('.button_25c_title')
      %p.lead= raw t('.button_description')
      .more-content.hide{:name => 'button'}
        =render 'home/buttons/platforms'
        =render 'home/buttons/form'
      %p.lead= link_to t('.button-more'), '#button', :class => 'more-link'

.sub-splash
  .row
    .span11
      %h2= raw t('.url_25c_title')
      %p= 'gen short url'
