- content_for :title, t('.title')
- content_for :meta_description, t('.meta_description')

%h1= t '.tagline'
.row
  .span14.offset1
    .row
      .span9
        = image_tag 'home-screenshot.png'
      .span5
        %h2= t '.value_prop'
        = t '.description_html'
        = link_to t('.add_now'), register_path, :class => 'button'
        = image_tag 'home-callout.png', :class => 'callout'
    .works_with
      %hr
      %h2= t '.works_with'
      %ul.unstyled<
        %li.works_with_wordpress
          %span WordPress
        %li.works_with_drupal> 
          %span Drupal
        %li.works_with_tumblr> 
          %span Tumblr
        %li.works_with_blogger> 
          %span Blogger
        %li.works_with_html 
          %span HTML & CSS
      = link_to t('.get_started'), register_path, :class => 'button'    