.hero-unit
  .row
    .span5
      %h2= t('.value_proposition')
      %p= raw t('.value_proposition_sub')
      %p
        .fb-login-button(data-scope="email,publish_actions")= t('.facebook')
      %p
        %a= link_to t('.register'), register_path, :class => 'btn'
    .span5.pull-right
      %img#landing-image{:src => image_path('love-flow.png')}
.row
  .span12
    %p.lead= raw t('.about_25c_p1')
    %p.lead= link_to t('.learn-more'), root_path