= content_for(:js) do
  :javascript    
    $('#fb-share').click(function() {
      var fbShareHref = "https://www.facebook.com/dialog/feed?display=popup"
        + "&app_id=#{ FACEBOOK_SETTINGS['app_id'] }"
        + "&link=#{ root_url }"
        + "&picture=http://assets.25c.com.s3.amazonaws.com/logos/25c-logo-medium.png"
        + "&name=#{ j t('.facebook_share_title') }"
        + "&caption=" + " "
        + "&description=#{ j t('.facebook_share_description') }"
        + "&redirect_uri=#{ j fb_share_callback_url }";
      openPopup(fbShareHref, "Share on Facebook");
    });
    $('#tw-share').click(function() {
      var twShareHref = "https://twitter.com/share?url=" + encodeURIComponent("#{ root_url }");
      openPopup(twShareHref, "Share on Twitter");
    });

#splash-title-top.highlight.center= t('.title_top')
#splash-title-bottom.highlight= t('.title_bottom')

#splash-main.pull-left
  #splash-people.center= image_tag 'front/people-01.png'
  #splash-arrows.center= image_tag 'front/arrows-02.png'
  #splash-container
    #splash-button-title.center= raw t('.button_title')
    #splash-legend.pull-left
      %div= raw t('.legend_p1', :img => image_tag('front/legend-arrow-01.png'))    
      %div= raw t('.legend_p2', :img => image_tag('front/legend-arrow-01.png'))    
      %div= t('.legend_p3')
      %div= raw t('.legend_p4', :img => image_tag('front/legend-arrow-01.png'))    
    #splash-button.center.pull-left= image_tag 'front/button-01.png'
    .pull-left{:style => "width: 0;"}
      #splash-tooltip
        = t('.pledge_to')
        %span.highlight= t('.cause')
        #splash-tooltip-share
          = t('.share')
          #fb-share= image_tag("logos/facebook.png")
          #tw-share= image_tag("logos/twitter.png")
    #splash-arrow.center.clear= image_tag 'front/arrow-02.png'
    .center
      %a#splash-call.btn.highlight{ :href => home_receive_pledges_path }= raw t('.set_up')

#splash-side-text.pull-right
  %p= t('.explain_p1')
  %p= t('.explain_p2')
  %p= t('.explain_p3')
  %p{:style => "margin-left: 20px;"}= t('.explain_p4')
  %p{:style => "margin-left: 20px;"}= t('.explain_p5')
  %p{:style => "margin-left: 20px;"}= t('.explain_p6')
.clear