=content_for(:js) do
  :javascript
    $(document).ready(function() {
      var linkText = {
        'about-more': '#{ t('.about-more')}',
        'about-less': '#{ t('.about-less')}',
        'button-more': '#{ t('.button-more')}',
        'button-less': '#{ t('.button-less')}'
      };
      $('.more-link').click(function(e) {
        e.preventDefault();
        var $link = $(this);
        var target = $link.attr("href").substring(1);
        $('.more-content[name="' + target + '"]').slideToggle('slow', function() {
          if ($(this).is(':visible')) $link.text(linkText[target + '-less']);
          else $link.text(linkText[target + '-more']);
        });
      });
    });

.splash
  .row
    .span5
      %h2= t('.value_proposition')
      %p= raw t('.value_proposition_sub1')
      %p= raw t('.value_proposition_sub2')
      .clear
      %p
        %span
          .fb-login-button(data-scope="email,publish_actions")
            = t('users.sign_in.facebook')
        %span= t('.or')
        %span= link_to t('.register'), register_path, :class => 'btn'        
    .span6.pull-right
      %img#landing-image{:src => image_path('love-flow.png')}
    .clear


.sub-splash
  .row
    .span11
      %h2= raw t('.about_25c_title')
      %p.lead
        = link_to t('.about-more'), '#about', :class => 'more-link'
      %p.lead= raw t('.about_25c_p1')
      .more-content.hide{:name => 'about'}
        %p.lead= raw t('.about_25c_p2')
        %p.lead= raw t('.about_25c_p3')
        %p.lead= raw t('.about_25c_p4')

.sub-splash
  .row
    .span11
      %h2= raw t('.button_25c_title')
      %p.lead= link_to t('.button-more'), '#button', :class => 'more-link'
      %p.lead= raw t('.button_description')
      .more-content.hide{:name => 'button'}
        =render 'home/buttons/form'

.sub-splash
  .row
    .span11
      %h2= raw t('.url_25c_title')
      %p= 'gen short url'
