= content_for(:js) do
  :javascript    
    $('#fb-share').click(function() {
      var fbShareHref = "https://www.facebook.com/dialog/feed?display=popup"
        + "&app_id=#{ FACEBOOK_SETTINGS['app_id'] }"
        + "&link=#{ root_url }"
        + "&picture=http://assets.25c.com.s3.amazonaws.com/logos/25c-logo-medium.png"
        + "&name=#{ j t('.facebook_share_title') }"
        + "&caption=" + " "
        + "&description=#{ j t('.facebook_share_description') }"
        + "&redirect_uri=#{ j fb_share_callback_url }";
      openPopup(fbShareHref, "Share on Facebook");
    });
    $('#tw-share').click(function() {
      var twShareHref = "https://twitter.com/share?url=" + encodeURIComponent("#{ root_url }");
      openPopup(twShareHref, "Share on Twitter");
    });
    
    var timer = null;
    
    $('#splash-button').hover(function() {
      clearTimeout(timer);
      $('#splash-tooltip').fadeIn('fast');
    }, function() {
      clearTimeout(timer);
      timer = setTimeout(function() {
        $('#splash-tooltip').fadeOut('fast');
      }, 500);
    });
    
    $('#splash-tooltip').hover(function() {
      clearTimeout(timer);
    }, function() {
    clearTimeout(timer);
    timer = setTimeout(function() {
      $('#splash-tooltip').fadeOut('fast');
    }, 500);
    });

#splash-title-top.highlight= t('.title_top')

#splash-main.pull-left
  #splash-people.center= image_tag 'front/people-01.png'
  #splash-arrows.center= image_tag 'front/arrows-02.png'
  #splash-container
    #splash-button-title.center= raw t('.button_title')
    .center
      %a#splash-button{:href => home_receive_pledges_path}
        = image_tag 'front/button-01.png'
    #splash-tooltip.hide
      = t('.pledge_to')
      %span.highlight= t('.cause')
      #splash-tooltip-share
        = t('.share')
        #fb-share= image_tag("logos/facebook.png")
        #tw-share= image_tag("logos/twitter.png")

#splash-side-text.pull-right
  %p
    = raw t('.explain_p1')
    %br
    = raw t('.explain_p2')
  %p
    = t('.explain_p3')
    %br
    %span{:style => "margin-left: 20px;"}= raw t('.explain_p4')
    %br
    %span{:style => "margin-left: 20px;"}= raw t('.explain_p5')
    %br
    %span{:style => "margin-left: 20px;"}= raw t('.explain_p6')
  %a#splash-call.btn.btn-strong{ :href => home_receive_pledges_path }= raw t('.set_up')
.clear

#splash-below
  .splash-col.pull-left
    .col-title= t('.publisher_title')
    %p= t('.publisher_p1')
    %p= t('.publisher_p2')
    %p= t('.publisher_p3')
    / %p= t('.publisher_p4')
  .splash-col.pull-right
    .col-title= t('.pledger_title')
    %p= t('.pledger_p1')
    %p= t('.pledger_p2')
    %p= t('.pledger_p3')
    / %p= t('.pledger_p4')
  .clear
  %p.center.learn-more=link_to t('.read_more'), faq_path
