.buy-points
  %h2= t '.buy_points'
  .row
    .span11
      %ul.buy-points<
        %li
          = link_to tipper_points_checkout_path(:amount => 20), :class => 'buy-points-20' do
            %span= t '.points_20'
          $5.00
        %li>
          = link_to tipper_points_checkout_path(:amount => 45), :class => 'buy-points-45' do
            %span= t '.points_45'
          $10.00
        %li>
          = link_to tipper_points_checkout_path(:amount => 100), :class => 'buy-points-100' do
            %span= t '.points_100'
          $20.00
        %li>
          = link_to tipper_points_checkout_path(:amount => 300), :class => 'buy-points-300' do
            %span= t '.points_300'
          $50.00
        %li
          = link_to tipper_points_checkout_path(:amount => 700), :class => 'buy-points-700' do
            %span= t '.points_700'
          $100
    .span5
      .split-left
        = t '.about_html', :learn_more => link_to(t('.learn_more'), '#')
  %hr
.row
  .span5
    .split-left
      %h2
        = t '.current_balance', :balance => current_user.balance
      - if current_user.has_valid_card
        %h2= t '.current_payment'
        .credit_card
          #{current_user.stripe_type} **** **** **** #{current_user.stripe_last4}
          %span
            = t '.expires', :expiration => "#{current_user.stripe_exp_month}/#{current_user.stripe_exp_year}"
            (#{link_to t('.remove'), tipper_points_remove_card_path})
  .span11
    .split-right
      %h2= t '.purchase_history'
      %table
        %thead
          %tr
            %th.col-date= Payment.human_attribute_name(:created_at)
            %th.col-amount= Payment.human_attribute_name(:amount_points)
            %th.col-amount-value= Payment.human_attribute_name(:amount_value)
            %th.col-action &nbsp;
        %tbody
          = render :partial => 'payments'
