- @clicks.each do |click|
  %tr{ :id => click.uuid }
    %td.col-date= l click.created_at, :format => :date_short
    %td
      .col-given-to
        - if click.url
          #{link_to click.url.host, click.url.url}:
          click.url.title
    %td.col-amount= number_with_precision click.amount, :precision => 0
    %td.col-amount-value= number_to_currency click.amount_value
    %td.col-action
      = link_to t('.cancel'), tipper_cancel_click_path(click), :class => 'click-cancel', :remote => true, :method => :delete, :confirm => t('.confirm_cancel') #if click.editable?
- unless @clicks.last_page?
  %tr
    %td{ :colspan => 5}
      = link_to_next_page @clicks, t('.show_more'), :class => 'click-show-more', :remote => true
