- content_for :title, '25c - ' + t('.title')

.row
  .span5
    .split-left
      %h2= t '.total_given'
      .stats
        .stat.stat-points-given
          .stat-value= number_with_delimiter current_user.total_given
          .stat-label= t('.points')
      %h2
        = t '.points_balance', :balance => current_user.balance
  .span11
    .split-right
      %h2= t '.points_given'
      
      %table
        %thead
          %tr
            %th.col-date= Click.human_attribute_name(:created_at)
            %th.col-given-to= Click.human_attribute_name(:url)
            %th.col-amount= Click.human_attribute_name(:amount)
            %th.col-amount-value &nbsp;
            %th.col-action &nbsp;
        %tbody
          = render :partial => 'clicks'
