- content_for :title, '25c - ' + t('.title')

.row
  .span5
    .split-sidebar
      %h2= t '.total_given'
      .stats
        .stat.stat-points-given
          .stat-value= number_with_delimiter current_user.total_given
          .stat-label= t('.points')
      %h2
        = t '.points_balance', :balance => current_user.balance
        %span.points_balance_value (#{number_to_currency current_user.balance_value})
  .span11
    .split-body
      %h2= t '.points_given'
      
      %table
        %thead
          %tr
            %th.col-date= Click.human_attribute_name(:created_at)
            %th.col-given-to= Click.human_attribute_name(:url)
            %th.col-amount= Click.human_attribute_name(:amount)
            %th.col-amount-value &nbsp;
            %th.col-action &nbsp;
        %tbody
          - @clicks.each do |click|
            %tr{ :id => click.uuid }
              %td.col-date= l click.created_at, :format => :date_short
              %td
                .col-given-to
                  - if click.url
                    #{link_to click.url.host, click.url.url}:
                    click.url.title
              %td.col-amount= number_with_precision click.amount, :precision => 0
              %td.col-amount-value= number_to_currency click.amount_value
              %td.col-action
                = link_to t('.cancel'), '#', :class => 'click-cancel' if click.editable?
                
