%h3.table-title
  = t('home.dashboard.index.tips_given_title')
  = number_to_currency(@clicks_given_total.to_f / 100)
%p
  %a= link_to t('home.dashboard.index.payment'), home_payment_path, :class => 'btn dashboard-action'
  = t('home.dashboard.index.not_funded')
  = number_to_currency(@clicks_unfunded_total.to_f / 100)
%p.buffer
  %a= link_to t('home.dashboard.index.undo_clicks'), home_undo_clicks_path, :class => 'btn dashboard-action'
  = t('home.dashboard.index.funded_note')
.table-wrapper
  %table#clicks-given.clicks-table.table.table-condensed.table-striped
    %thead
      %tr
        %th.click-amount= t('home.dashboard.index.amount')
        %th.click-provider= t('home.dashboard.index.provider')
        %th.click-referrer= t('home.dashboard.index.referrer')
        %th
        %th.click-date= t('home.dashboard.index.date_created')
        %th
        %th.click-funded= t('home.dashboard.index.funded')
        %th.click-share= t('home.dashboard.index.share')
    %tbody
      - @clicks_given.each do |set|
        %tr
          %td.click-amount= number_to_currency(set[0].to_f / 100)
          -if set[1].button.user.profile_url.blank?
            %td.click-user= set[1].button.user.display_name
          - else
            %td.click-user= link_to set[1].button.user.display_name, set[1].button.user.profile_url,  :target => "_blank"
          - if set[1].referrer.blank?
            %td.click-referrer= t('home.dashboard.index.no_referrer')
          - elsif set[1].referrer.include?(request.host)
            %td.click-referrer
              = link_to t('home.dashboard.index.profile_link', :provider => set[1].button.user.display_name),
                set[1].referrer, :target => "_blank"
          - else
            %td.click-referrer= link_to set[1].referrer, set[1].referrer, :target => "_blank"
          %td= set[1].created_at.to_s(:number)
          %td.click-date.convert-date= set[1].created_at.to_f()
          / %td.click-date= l set[1].created_at, :format => "%d %b %y"
          - if set[1].state > Click::State::DEDUCTED
            %td= set[1].created_at.to_s(:number)
            %td.click-date.convert-date= set[1].created_at.to_f()
            / %td.click-funded= l set[1].updated_at, :format => "%d %b %y"
          - else
            %td 0
            %td.click-funded= t('home.dashboard.index.to_be')
          %td.click-share
            .fb-share{:"data-referrer" => set[1].referrer,
              :"data-title" => t('home.dashboard.index.fb_share_user_title', 
                :user_name => set[1].button.user.display_name) }
              = image_tag("logos/facebook.png")
            .tw-share{:"data-referrer" => set[1].referrer}= image_tag("logos/twitter.png")

%h3.table-title
  = t('home.dashboard.index.tips_received_title')
  = number_to_currency(@clicks_received_total.to_f / 100)
%p
  %a= link_to t('home.dashboard.index.payout'), home_payout_path, :class => 'btn'
%p.buffer
  %a= link_to t('home.dashboard.index.pledge_message'), home_choose_pledge_message_path, :class => 'btn'
  = t('home.dashboard.index.pledge_message_note')
.table-wrapper
  %table#clicks-received.clicks-table.table.table-condensed.table-striped
    %thead
      %tr
        %th.click-amount= t('home.dashboard.index.amount')
        %th.click-user= t('home.dashboard.index.clicker')
        %th.click-referrer= t('home.dashboard.index.referrer')
        %th
        %th= t('home.dashboard.index.date_created')
        %th
        %th.click-funded= t('home.dashboard.index.funded')
        %th.hide
    %tbody
      - @clicks_received.each do |set|
        %tr
          %td.click-amount= number_to_currency(set[0].to_f / 100)
          
          -if set[1].button.user.profile_url.blank?
            %td.click-user= set[1].user.display_name
          - else
            %td.click-user= link_to set[1].user.display_name, set[1].user.profile_url,  :target => "_blank"
          - if set[1].referrer.blank?
            %td.click-referrer= t('home.dashboard.index.no_referrer')
          - elsif set[1].referrer.include?(request.host)
            %td.click-referrer
              = link_to t('home.dashboard.index.profile_link', :provider => set[1].button.user.display_name),
                set[1].referrer, :target => "_blank"
          - else
            %td.click-referrer= link_to set[1].referrer, set[1].referrer, :target => "_blank"
          %td= set[1].created_at.to_s(:number)
          %td.click-date.convert-date= set[1].created_at.to_f()
          / %td.click-date= l set[1].created_at, :format => "%d %b %y"
          - if set[1].state > Click::State::DEDUCTED
            %td= set[1].created_at.to_s(:number)
            %td.click-date.convert-date= set[1].created_at.to_f()
            / %td.click-funded= l set[1].updated_at, :format => "%d %b %y"
          - else
            %td 0
            %td.click-funded= t('home.dashboard.index.to_be')
          %td.hide

%h3.table-title
  = t('home.dashboard.index.tips_referred_title')
  = number_to_currency(@clicks_referred_total.to_f / 100)
.table-wrapper
  %table#clicks-referred.clicks-table.table.table-condensed.table-striped
    %thead
      %tr
        %th.click-amount= t('home.dashboard.index.amount')
        %th.click-user= t('home.dashboard.index.clicker')
        %th.click-referrer= t('home.dashboard.index.referrer')
        %th
        %th= t('home.dashboard.index.date_created')
        %th
        %th.click-funded= t('home.dashboard.index.funded')
        %th.hide
    %tbody
      - @clicks_referred.each do |set|
        %tr
          %td.click-amount= number_to_currency(set[0].to_f / 100)
          %td.click-user= set[1].user.display_name
          - if set[1].referrer.blank?
            %td.click-referrer= t('home.dashboard.index.no_referrer')
          - elsif set[1].referrer.include?(request.host)
            %td.click-referrer
              = link_to t('home.dashboard.index.profile_link', :provider => set[1].button.user.display_name),
                set[1].referrer, :target => "_blank"
          - else
            %td.click-referrer= link_to set[1].referrer, set[1].referrer, :target => "_blank"
          %td.click-date= set[1].created_at.to_s(:number)
          %td.click-date.convert-date= set[1].created_at.to_f()
          / %td.click-date= l set[1].created_at, :format => "%d %b %y"
          - if set[1].state > Click::State::DEDUCTED
            %td= set[1].created_at.to_s(:number)
            %td.click-date.convert-date= set[1].created_at.to_f()
            / %td.click-funded= l set[1].updated_at, :format => "%d %b %y"
          - else
            %td 0
            %td.click-funded= t('home.dashboard.index.to_be')
          %td.hide
