%p
  %a= link_to t('home.dashboard.index.payment'), home_payment_path, :class => 'btn dashboard-action'
%p.buffer
  = t('home.dashboard.index.not_funded')
  = number_to_currency(@clicks_unfunded_total.to_f / 100)
%p
  %a= link_to t('home.dashboard.index.undo_clicks'), home_undo_clicks_path, :class => 'btn dashboard-action'
%p.buffer
  = t('home.dashboard.index.funded_note')

%h3.table-title
  = t('home.dashboard.index.tips_given_title')
  = number_to_currency(@clicks_given_total.to_f / 100)

.mobile-clicks-container
  - if @clicks_given.length == 0
    .click-container
      .field-container=t('.no_pledges_given')
  - @clicks_given.each do |set|
    .click-container
      .field-container
        .field-title= t('home.dashboard.index.amount')
        .field-value= number_to_currency(set[0].to_f / 100)
        .clear
      
      .field-container
        .field-title= t('home.dashboard.index.provider')
        - if set[1].button.user.profile_url.blank?
          .field-value= set[1].button.user.display_name
        - else
          .field-value= link_to set[1].button.user.display_name, set[1].button.user.profile_url,  :target => "_blank"
        .clear

      .field-container
        .field-title= t('home.dashboard.index.referrer')
        .field-value
          - if set[1].referrer.blank?
            = t('home.dashboard.index.no_referrer')
          - elsif set[1].referrer.include?(request.host)
            = link_to t('home.dashboard.index.profile_link', :provider => set[1].button.user.display_name), set[1].referrer, :target => "_blank"
          - else
            = link_to set[1].referrer, set[1].referrer, :target => "_blank"
        .clear
      
      .field-container
        .field-title= t('home.dashboard.index.date_created')
        .field-value
          .convert-date= set[1].created_at.to_f()
        .clear
      
      .field-container
        .field-title= t('home.dashboard.index.funded')
        .field-value
          - if set[1].state > Click::State::DEDUCTED
            .convert-date= set[1].funded_at.to_f()
          - else
            = t('home.dashboard.index.to_be')
        .clear

      .field-container
        .field-title= t('home.dashboard.index.share')
        .field-value
          .fb-share{:"data-referrer" => set[1].referrer,
            :"data-title" => t('home.dashboard.index.fb_share_user_title', 
              :user_name => set[1].button.user.display_name) }
            = image_tag("logos/facebook-icon.png")
          .tw-share{:"data-referrer" => set[1].referrer}= image_tag("logos/twitter-icon.png")
        .clear

%p.buffer
  %a= link_to t('home.dashboard.index.payout'), home_payout_path, :class => 'btn'
%h3.table-title
  = t('home.dashboard.index.tips_received_title')
  = number_to_currency(@clicks_received_total.to_f / 100)
  
.mobile-clicks-container
  - if @clicks_received.length == 0
    .click-container
      .field-container= t('home.dashboard.index.no_pledges_given')

  - @clicks_received.each do |set|
    .click-container
      .field-container
        .field-title= t('home.dashboard.index.amount')
        .field-value= number_to_currency(set[0].to_f / 100)
        .clear

      .field-container
        .field-title= t('home.dashboard.index.clicker')
      - if set[1].button.user.profile_url.blank?
        .field-value= set[1].user.display_name
      - else
        .field-value= link_to set[1].user.display_name, set[1].user.profile_url,  :target => "_blank"
      .clear

      .field-container
        .field-title= t('home.dashboard.index.referrer')
        .field-value
          - if set[1].referrer.blank?
            = t('home.dashboard.index.no_referrer')
          - elsif set[1].referrer.include?(request.host)
            = link_to t('home.dashboard.index.profile_link', :provider => set[1].button.user.display_name), set[1].referrer, :target => "_blank"
          - else
            = link_to set[1].referrer, set[1].referrer, :target => "_blank"
        .clear

      .field-container
        .field-title= t('home.dashboard.index.date_created')
        .field-value
          .convert-date= set[1].created_at.to_f()
        .clear

      .field-container
        .field-title= t('home.dashboard.index.funded')
        .field-value
          - if set[1].state > Click::State::DEDUCTED
            .convert-date= set[1].funded_at.to_f()
          - else
            = t('home.dashboard.index.to_be')
        .clear

%h3.table-title
  = t('home.dashboard.index.tips_referred_title')
  = number_to_currency(@clicks_referred_total.to_f / 100)
.mobile-clicks-container
  - if @clicks_referred.length == 0
    .click-container
      .field-container= t('home.dashboard.index.no_pledges_given')

  - @clicks_referred.each do |set|
    .click-container
      .field-container
        .field-title= t('home.dashboard.index.amount')
        .field-value= number_to_currency(set[0].to_f / 100)
        .clear

      .field-container
        .field-title= t('home.dashboard.index.clicker')
      - if set[1].button.user.profile_url.blank?
        .field-value= set[1].user.display_name
      - else
        .field-value= link_to set[1].user.display_name, set[1].user.profile_url,  :target => "_blank"
      .clear

      .field-container
        .field-title= t('home.dashboard.index.referrer')
        .field-value
          - if set[1].referrer.blank?
            = t('home.dashboard.index.no_referrer')
          - elsif set[1].referrer.include?(request.host)
            = link_to t('home.dashboard.index.profile_link', :provider => set[1].button.user.display_name), set[1].referrer, :target => "_blank"
          - else
            = link_to set[1].referrer, set[1].referrer, :target => "_blank"
        .clear

      .field-container
        .field-title= t('home.dashboard.index.date_created')
        .field-value
          .convert-date= set[1].created_at.to_f()
        .clear

      .field-container
        .field-title= t('home.dashboard.index.funded')
        .field-value
          - if set[1].state > Click::State::DEDUCTED
            .convert-date= set[1].funded_at.to_f()
          - else
            = t('home.dashboard.index.to_be')
        .clear