- content_for :title, t('.title')

.page-header
  %h1= yield :title

.alert
  Add the following code to your page to start collecting quarters!
  .button-code-container
    &lt;script&gt;(function(){ var src = (window.location.protocol == 'https:' ? 'https:' : 'http:') + "//#{url_base}#{javascript_path 'button.js'}?uuid=#{current_user.uuid}"; document.write('&lt;scri' + 'pt src="' + src + '"&gt;&lt;/scr' + 'ipt&gt;');}());&lt;/script&gt;

.sample-button
  :javascript
    (function(){
      var src = (window.location.protocol == 'https:' ? 'https:' : 'http:') + "//#{url_base}#{javascript_path 'button.js'}?uuid=#{current_user.uuid}";
      document.write('<scri' + 'pt src="' + src + '"></scr' + 'ipt>');
    }());

