- content_for :title, t('.title')
= content_for(:js) do
  = javascript_include_tag "jquery.dataTables.min"
  = javascript_include_tag "paging"
  = javascript_include_tag "update-dashboard"
  :javascript
    window.confirmDelete = '#{ j t('.confirm_delete') }';
    window.deleteClickUrl = '#{ j home_delete_click_url }';
    window.confirmProcess = '#{ j t('.confirm_process') }';
    window.processClicksUrl = '#{ j home_process_clicks_url }';
    window.clickState1 = '#{ j t('.state1') }';
    window.hasNewClicks = #{ @has_new_clicks };

.row
  .span12
    %h2.page-header= t('.title')

.row
  .span12
    .lead
      %div= t('home.account.jar.contents')
      %div
        %b= @user.balance.to_s + ' ' + t('application.25c_units')
        %span ($#{"%.2f" % (@user.balance.to_f / 4)})
      %p.payout-link-container
    %a= link_to t('.get_button'), home_buttons_path, :class => 'btn btn-primary'
    %a= link_to t('.fill_jar'), home_jar_path, :class => 'btn'
    %a= link_to t('.request_payout'), home_payout_path, :class => 'btn'   
%hr
%h3.table-title
  = t('.tips_given_title')
  (#{@clicks_given.length} #{t('.total')})
.table-wrapper
  %table#clicks-given.clicks-table.table.table-condensed.table-striped
    %thead
      %tr
        %th
        %th.click-date= t('.date_created')
        %th.click-state= t('.state')
        %th.click-provider= t('.provider')
        %th.click-referrer= t('.referrer')
        %th
    %tbody
      - @clicks_given.each do |click|
        %tr
          %td.click-date= click.created_at.to_s(:number)
          %td.click-date= l click.created_at, :format => :short
          %td.click-state= t('.state' + click.state.to_s)
          %td.click-user= click.button.user.display_name
          %td.click-referrer= click.referrer
          %td.click-delete.center
            %a.delete-click.btn.btn-warning{:"data-click_id" => click.uuid}= t('.delete')
- if @has_new_clicks
  %a#process-clicks.btn.btn-primary= t('.process_clicks')
- else
  %a#process-clicks.btn{:disabled => true}= t('.process_clicks')
#process-message.alert.alert-success.hide= t('.clicks_processed')
%hr
%h3.table-title
  = t('.tips_received_title')
  (#{@clicks_received.length} #{t('.total')})
.table-wrapper
  %table#clicks-received.clicks-table.table.table-condensed.table-striped
    %thead
      %tr
        %th
        %th= t('.date_created')
        %th= t('.state')
        %th.click-user= t('.clicker')
        %th.click-referrer= t('.referrer')
        %th
    %tbody
      - @clicks_received.each do |click|
        %tr
          %td.click-date= click.created_at.to_s(:number)
          %td.click-date= l click.created_at, :format => :short
          %td.click-state= t('.state' + click.state.to_s)
          %td.click-user= click.user.display_name
          %td.click-referrer= click.referrer
          %td
