- content_for :title, t('.title')
= content_for(:js) do
  = javascript_include_tag "update-dashboard"
  :javascript
    window.confirmDelete = '#{ j t('.confirm_delete') }';
    window.deleteClickUrl = '#{ j home_delete_click_url }';

.row
  .span12
    %h2.page-header= t('.title')

.row
  .span12
    .lead
      %div= t('.contents')
      %div
        %b= (@user.balance * 4).to_s() + ' ' + t('application.25c_units')
        %span ($#{"%.2f" % @user.balance})
      %p.payout-link-container
    %a= link_to t('.get_button'), home_buttons_path, :class => 'btn'
    %a= link_to t('.fill_jar'), home_jar_path, :class => 'btn'
    %a= link_to t('.request_payout'), home_payout_path, :class => 'btn'   
%hr
%h3.table-title
  = t('.tips_given_title')
  (#{@clicks_given.length} #{t('.total')})
%table.clicks-table.table.table-condensed.table-striped
  %thead
    %th= t('.date_created')
    %th= t('.provider')
    %th= t('.referrer')
  %tbody
    - @clicks_given.each do |id, row|
      %tr        
        - row.each do |column|
          %td= column
        %td
          %a.delete-click.btn.btn-warning{:"data-click_id" => id}= t('.delete')
/%a.process-all.btn.btn-primary= t('.process_all')
%hr
%h3.table-title
  = t('.tips_received_title')
  (#{@clicks_received.length} #{t('.total')})
%table.clicks-table.table.table-condensed.table-striped
  %thead
    %th= t('.date_created')
    %th= t('.clicker')
    %th= t('.referrer')
  %tbody
    - @clicks_received.each do |row|
      %tr
        - row.each do |column|
          %td= column