- content_for :title, t('.title')
= content_for(:js) do
  = javascript_include_tag "jquery.dataTables.min"
  = javascript_include_tag "paging"
  = javascript_include_tag "undo-clicks"
  :javascript
    window.confirmDelete = '#{ j t('.confirm_delete') }';
    window.deleteClickUrl = '#{ j home_delete_click_url }';

.row
  .span12
    %h2.page-header= t('.title')
.row
  .span12
    %a= link_to t('.dashboard'), home_dashboard_path, :class => 'btn'

.table-wrapper
  %table#clicks-given.clicks-table.table.table-condensed.table-striped
    %thead
      %tr
        %th.click-provider= t('.provider')
        %th.click-referrer= t('.referrer')
        %th
        %th.click-date= t('.date_created')
        %th
    %tbody
      - @clicks_given.each do |click|
        %tr
          %td.click-user= click.button.user.display_name
          %td.click-referrer= link_to click.referrer, click.referrer, :target => "_blank"
          %td= click.created_at.to_s(:number)
          %td.click-date= l click.created_at, :format => :short
          %td.click-delete.center
            %a.delete-click.btn.btn-warning{:"data-click_id" => click.uuid}= t('.delete')