$(document).ready(function(){
    
	// lookup dictionary for image sizes
	var iframeImageSizes = {
		'btn-large':    { width: '130', height: '40' },
		'btn-medium':   { width: '112', height: '30' },
		'btn-small':    { width: '94',  height: '20' },
		'icon-large':   { width: '98',  height: '40' },
		'icon-medium':  { width: '88',  height: '30' },
		'icon-small':   { width: '78',  height: '20' },
		'tip-large':   { width: '130',  height: '40' },
		'tip-medium':  { width: '112',  height: '30' },
		'tip-small':   { width: '94',  height: '20' }
	};
	
	var imageSizes = {
		'btn-large':    { width: '72', height: '40' },
		'btn-medium':   { width: '54', height: '30' },
		'btn-small':    { width: '36',  height: '20' },
		'icon-large':   { width: '40',  height: '40' },
		'icon-medium':  { width: '30',  height: '30' },
		'icon-small':   { width: '20',  height: '20' },
		'tip-large':   { width: '72',  height: '40' },
		'tip-medium':  { width: '54',  height: '30' },
		'tip-small':   { width: '36',  height: '20' }
	};
	
	var iframeImageSizeString = 'width="%s" height="%s"';
	var webUrl = window.location.protocol + '//' + window.location.hostname;
  if (webUrl.indexOf('localhost') != -1) webUrl += ':3000';
  var apiUrl = window.location.protocol + '//' + '<%= ENV["API25C_URL"] %>';
  var buttonImageUrl = '<%= ENV["ASSETS_URL_BASE"] %>' + '/buttons/25c-%s.png';

  // Code contents
  var jsCode = '<a href="%s" class="tip-25c-button" target="_blank" data-id="%s" data-size="%s" data-user="%s" style="background-image:url(\'%s\');display:block;width:%spx;height:%spx;">%s</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//<%= ENV["API25C_URL"] %>/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tip-25c-js");</script>';
  var iframeCode = '<iframe src="' + apiUrl + '/button/' + buttonId + '?size=%s" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" %s></iframe>';  
  
  // jQuery objects
  var $iframe = $('#upload-picture');
  
  // State variables
  var has_new_user_picture = false;
  var buttonTitle = '';
  var buttonInfoUrl = '';
  var buttonSize = window.buttonSize || 'btn-large';
  var codeType = '';
  var newCode = '';
  var step = 1;
  
  // Show next step in sequence
  var showNextStep = function(limit) {
    if (!limit || step < limit) {
      step++;
      var $nextStep = $('.step-container:hidden[data-skip!="true"]:first');
      $nextStep.first().slideDown('fast');
      $nextStep.children('.step-number').text(step);
      if ($nextStep.attr('id') == 'get-code' 
        || $nextStep.attr('id') == 'share-cause') {
        showNextStep();
      }
      if ($nextStep.attr('id') == 'share-cause') {
        putUpdate(false, { has_seen_receive_page: true });
      }
    }
  };
  
  // Correct step numbers and hide / show non-relevant steps
  var recomputeSteps = function(state) {
    $('.step-container:visible[data-skip=true]').hide();
    $('.step-container:visible').prevAll('[data-skip!="true"]').show();
    step = 0;
    $('.step-container:visible').each(function() {
      step++;
      $(this).children('.step-number').text(step);
    });
  }
  
  // Update button code shown to user
  var updateButtonCode = function() {
    if (codeType == 'javascript' || codeType == 'iframe') {
      putUpdate(true, { code_type: codeType });
    }
    $('#set-nickname-link').hide();
    if (codeType == 'iframe') {
      newCode = sprintf(iframeCode, buttonSize, sprintf(imageIframeSizeString, iframeImageSizes[buttonSize].width, imageSizes[buttonSize].height));
      $('.if-javascript').show();
      $('.if-link').hide();
      $('#choose-button').removeAttr('data-skip');
    } else if (codeType == 'javascript') {
      var linkText = (!buttonTitle || /^\s*$/.test(buttonTitle)) ? "&nbsp;" : buttonTitle;
      newCode = sprintf(jsCode, profileUrl, buttonId, buttonSize, userPledgeName, sprintf(buttonImageUrl, buttonSize), imageSizes[buttonSize].width, imageSizes[buttonSize].height, linkText);

      console.log(sprintf(buttonImageUrl, buttonSize));

      $('.if-javascript').show();
      $('.if-link').hide();
      $('#choose-button').removeAttr('data-skip');
    } else if (codeType == 'link') {
      $('.profile-link').html('<a href="' + profileUrl + '" target="_blank">' + profileUrl + '</a>');
      $('#set-nickname-link').show();
      $('.if-javascript').hide();
      $('.if-link').show();
      $('#choose-button').attr('data-skip', true);
      newCode = "";
    }
    $('#button-code-block').text(newCode);
    $('#button-preview').html(newCode);

    if (codeType == 'javascript') {
      $('#tip-25c-tooltip').remove();
      $('#button-code-js').remove();
      if (typeof _tip25c_jquery != "undefined") {
        _tip25c_jquery.receiveMessage();
        $('head').append('<script id="tip-25c-js" type="text/javascript" src="//<%= ENV["API25C_URL"] %>/public/javascripts/button.js">');
      }
    }
  };
  
  // Update button or user with PUT request
  var putUpdate = function(isButton, data, successCallback, errorCallback) {
    var updates = isButton ? { button: data } : { user: data };
    putUrl = isButton ? updateButtonUrl : updateUserUrl;
    $.ajax({
      type: "PUT",
      url: putUrl,
      data: JSON.stringify(updates),
      contentType: 'application/json',
      dataType: 'json',
      success: successCallback,
      error: errorCallback
    });
  }
  
  var getProfileUrl = function() {
    if (userNickname) {
      if (window.location.hostname.indexOf('localhost') != -1) {
        var new_profile_url = 'http://localhost:3000';
      } else {
        var new_profile_url = 'https://' + window.location.hostname.replace('www.', 'tip.');
      }
      new_profile_url += '/' + userNickname;
      return new_profile_url;
    } else {
      return '';
    }
  }
  
  // Event handlers
  
  // when input changes, update code
  $('input.code-type').change(function() {
    updateButtonCode();
  });
  
  // update radio buttons by parent div click
  $('.platform-container, .button-choice, .code-option-container').click(function() {
    $this = $(this);
    $this.parent().children('input[type=radio]').removeAttr('checked');
    $this.children('input[type=radio]').attr('checked', 'checked');
    if ($this.hasClass('button-choice')) {
      var newButtonSize = $this.find('img').attr('data-size');
      $this.addClass('selected-option');
      if (buttonSize != newButtonSize) {
        buttonSize = newButtonSize;
        $this.parent().find('.selected-option').removeClass('selected-option');
        $this.addClass('selected-option');
        updateButtonCode();
        putUpdate(true, { 'size': buttonSize });
      }
      showNextStep(4);
    } else if ($this.hasClass('platform-container')) {
      $this.parent().find('.selected-option').removeClass('selected-option');
      $this.addClass('selected-option');
      var platform = $this.attr('data-platform') || 'html';
      $('#install-instructions').children().hide();
      $('.' + platform + '-instructions').show();
      if (platform == 'html') {
        var newCodeType = "javascript";
      } else if (platform == 'wordpress' || platform == 'blogger' || platform == 'weebly') {
        var newCodeType = "javascript";
      } else if (platform == 'posterous' || platform == 'tumblr' || platform == 'blog-com' || platform == 'jux') {
        var newCodeType = "iframe";
      } else if (platform == 'youtube' || platform == 'pinterest') {
        var newCodeType = "link";
      }
      $('#get-code').removeAttr('data-skip');
      $('.if-button').show();
      if (codeType != newCodeType) {
        codeType = newCodeType;
        updateButtonCode();
      }
      recomputeSteps();
      showNextStep(3);
    } else if ($this.hasClass('code-option-container')) {
      $this.children('input.code-type').change();
    }
  });
  
  // Upload user picture
  $('#upload-picture-button').click();
  
  // Save user info
  $('#set-user-info').click(function() {
    
    $(this).attr('disabled', 'disabled');
    
    // get user pledge name
    userPledgeName = $('#user-pledge-name').val();
        
    // get user button title info
    buttonTitle = $('#button-title').val();
    if (buttonTitle == buttonTitleDefault) {
      buttonTitle = "";
    } else {
      putUpdate(true, { title: buttonTitle });
      updateButtonCode();
    }
    
    if (userNickname) {
      putUpdate(false, { pledge_name: userPledgeName });
      showNextStep(2);
    } else {
      if ($('#user-nickname').val()) {
        userNickname = $('#user-nickname').val();
        putUpdate(false, { nickname: userNickname, pledge_name: userPledgeName }, function(response) {
          $('#profile-link > a').attr('href', profileUrl).text(profileUrl);
          $('#user-nickname').parent().add($('#user-nickname').parent().prev()).hide();
          $('#profile-link > a').attr('href', profileUrl).text(profileUrl);
          showNextStep(2);
          profileUrl = getProfileUrl();
        }, function() {
          alert(nicknameTaken);
          userNickname = '';
        });
      } else {
        alert(nicknameBlank);
      }
    }
  });
  
  $('#describe-cause input').keypress(function() {
    $('#set-user-info[disabled="disabled"]').removeAttr('disabled');
  });
  
  $('#user-about').focusout(function() {
    $('#set-user-info').click();
  });

  // Handle picture upload functionality
  $iframe.load(function() {
    var $user_form = $iframe.contents().find('form#user-form');
    var $user_input = $user_form.find('#user_picture');
    if (has_new_user_picture) {
      newUserPictureUrl = $(this).contents().find('#picture-urls').attr('data_user_url');
      $('#current-picture-container').show();
      $('#current-picture-checkbox').attr('checked', 'checked');
      $('#current-picture-link>img').attr('src', newUserPictureUrl);
    }
    $('#upload-user-picture').unbind('click').click(function() {
      $('#set-user-info').removeAttr('disabled');
      $user_input.click();
      $user_input.change(function() {
        $user_form.submit();
        has_new_user_picture = true;
        $('#current-picture-checkbox').removeAttr('checked');
      });
    });
  });
  
  $('#fb-share').click(function() {
    var fbShareHref = "https://www.facebook.com/dialog/feed?display=popup"
		  + "&app_id=<%= FACEBOOK_SETTINGS['app_id'] %>"
		  + "&link=" + profileUrl
      + "&picture=" + "http://assets.25c.com.s3.amazonaws.com/logos/icon-50.png"
		  + "&name=" + fbShareTitle
      + "&caption=" + " "
		  + "&description=" + fbShareDescription
		  + "&redirect_uri=" + fbShareCallbackUrl;
    openPopup(fbShareHref, "Share on Facebook");
	});

  $('#tw-share').click(function() {
    var $this = $(this);
		var twShareHref = "https://twitter.com/share?url=" + encodeURIComponent(profileUrl);
		openPopup(twShareHref, "Share on Twitter");
  });
  
  $('#current-picture-link').click(function() {
    $('#upload-picture-fields #current-picture-checkbox').click();
  });
  
  // Save share info and send email
  $('#set-share-info').click(function() {
    $('#set-share-info').attr('disabled', 'disabled');
    shareAmount = $('#share-amount').val();
    shareEmail = $('#share-email').val().replace(/\s+/g, ' ');
    if (isValidEmailAddress(shareEmail)) {
      var updates = { share_email: shareEmail, share_amount: shareAmount } ;
      $.ajax({
        type: "PUT",
        url: shareEmailUrl,
        data: JSON.stringify(updates),
        contentType: 'application/json',
        dataType: 'json',
        success: function() {
          // success callback
        },
        error: function() {
          // error callback
        }
      });
      showNextStep(6);
    } else {
      alert(invalidEmail);
    }
  });
  
  $('#share-revenue input').keypress(function() {
    $('#set-share-info[disabled="disabled"]').removeAttr('disabled');
  });
  
  $('#share-revenue select').change(function() {
    $('#set-share-info[disabled="disabled"]').removeAttr('disabled');
  });
  
  // Initialization
  var profileUrl = getProfileUrl();
  $('#profile-link > a').attr('href', profileUrl).text(profileUrl);
  if (isButtonPage) {
    $('.platform-container[data-platform=html]').click();
    if (buttonSize) {
      $('img[data-size=' + buttonSize + ']').click();
    } else {
      $('img[data-size=btn-large]').click();
    }
  }

});