$(document).ready(function(){
  
  // lookup dictionary for image filenames
  var imageDict = {
    'btn-large': '<%= asset_path "25c-btn-large.png" %>',
    'btn-medium': '<%= asset_path "25c-btn-medium.png" %>',
    'btn-small': '<%= asset_path "25c-btn-small.png" %>',
    'icon-large': '<%= asset_path "25c-icon-large.png" %>',
    'icon-medium': '<%= asset_path "25c-icon-medium.png" %>',
    'icon-small': '<%= asset_path "25c-icon-small.png" %>'
  };
	// lookup dictionary for image sizes
	var imageSizesDict = {
		'btn-large': 'width:136px;height:70px;',
		'btn-medium': 'width:94px;height:50px;',
		'btn-small': 'width:63px;height:35px;',
		'icon-large': 'width:68px;height:70px;',
		'icon-medium': 'width:49px;height:50px;',
		'icon-small': 'width:34px;height:35px;'
	};
  
  var jsOpen = '<a href="https://www.plus25c.com/tip/'
    + buttonId + '" class="tip-25c-button" data-size="';
  var jsClose = '</a>\n<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];\
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;\
    js.src="//api.plus25c.com/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}\
    (document,"script","tip-25c-js");</script>';
  var iframeOpen = '<iframe src="http://api.plus25c.com/button/' + buttonId + '?size=';
	var iframeMid = '" allowtransparency="true" frameborder="0" scrolling="no" style="';
  var iframeClose = '"></iframe>';
  
  var buttonSize = $('#button_size').val();
  
  var updateButtonCode = function() {
    if ($('input.radio_buttons:checked').val() == 'javascript') {
      newCode = jsOpen + buttonSize + '">' + $('input#button_title').val() + jsClose;
    } else {
      newCode = iframeOpen + buttonSize + iframeMid + imageSizesDict[buttonSize] + iframeClose;
    }
    $('#button-code-block').text(newCode);
  };
  
  // add update title field -> modify js string
  
  $('.button-choice>img[data-size="' + buttonSize + '"]').addClass('selected-button');
  updateButtonCode();
  
  // when input changes, update code
  $('input.radio_buttons, input#button_title').change(function() {
    updateButtonCode();
  });
  
  // when new image changes, update code and process image selection
  $('.button-choice img').click(function() {
    $this = $(this);
  
    fakeCounter++;
    $tooltip.html('<p>You\'ve rewarded <b>' + fakeCounter + '</b> credits!<br>(example text)</p>' );
    $tooltip.css('visibility', 'visible');
    
    buttonSize = $this.attr('data-size');
    updateButtonCode();
    $('#button_size').val(buttonSize);
    $this.parent().parent().find('.selected-button').removeClass('selected-button');
    $this.addClass('selected-button');
    $this.trigger('mouseenter');
  });
  
  // image hover functionality
  var timer = null;
  var fakeCounter = 0;
  var $tooltip = $("#tip-25c-tooltip");
  
  var hideTooltip = function() {
    $("#tip-25c-tooltip").css("visibility", "hidden");
  }
  
  $('.button-choice img').bind({
		mouseenter: function() {
      var $this = $(this)
			if ($this.hasClass('selected-button')) {
			  clearTimeout(timer);
  			var offset = $this.offset();
  		  var height = $this.height();
  			$tooltip.css({
          visibility: "visible",
  				left: offset.left,
  				top: offset.top + height + 10
  			});
  		} else {
  		  hideTooltip();
		  }
		},
		mouseleave: function() {
			timer = setTimeout(hideTooltip, 500);
		}
	});
	
  // dummy tooltip functionality
  $("#tip-25c-tooltip").bind({
		mouseenter: function() {
			clearTimeout(timer);			
		},
		mouseleave: function() {
			timer = setTimeout(hideTooltip, 500);
		}
	});
});