$(document).ready(function(){
  
  // lookup dictionary for image filenames
  var imageDict = {
    'btn-large': '<%= asset_path "25c-btn-large.png" %>',
    'btn-medium': '<%= asset_path "25c-btn-medium.png" %>',
    'btn-small': '<%= asset_path "25c-btn-small.png" %>',
    'icon-large': '<%= asset_path "25c-icon-large.png" %>',
    'icon-medium': '<%= asset_path "25c-icon-medium.png" %>',
    'icon-small': '<%= asset_path "25c-icon-small.png" %>'
  };
	// lookup dictionary for image sizes
	var imageSizesDict = {
		'btn-large': ' width="120" height="60"',
		'btn-medium': ' width="80" height="40"',
		'btn-small': ' width="50" height="25"',
		'icon-large': ' width="60" height="60"',
		'icon-medium': ' width="40" height="40"',
		'icon-small': ' width="25" height="25"'
	};
  
  var jsOpen = '<a href="https://www.plus25c.com/tip/' + buttonId + '" class="tip-25c-button" data-size="';
  var jsClose = '</a>\n<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];\
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;\
    js.src="//api.plus25c.com/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}\
    (document,"script","tip-25c-js");</script>';
  var iframeOpen = '<iframe src="http://api.plus25c.com/button/' + buttonId + '?size=';
	var iframeMid = '" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"';
  var iframeClose = '></iframe>';
  
  var buttonSize = $('#button_size').val();
  
  var updateButtonCode = function() {
    if ($('input.radio_buttons:checked').val() == 'javascript') {
      // newCode = jsOpen + buttonSize + '">' + $('input#button_title').val() + jsClose;
      newCode = jsOpen + buttonSize + '">' + "Click to micro-donate 25c!" + jsClose;
    } else {
      newCode = iframeOpen + buttonSize + iframeMid + imageSizesDict[buttonSize] + iframeClose;
    }
    $('#button-code-block').text(newCode);
  };
  
  // button click visual feedback
  // $('.button-choice').click(function() {
  //     $(this).find("img.unrot").fadeOut(50).delay(50).fadeIn(50);
  // });
  
  $('.button-choice>img[data-size="' + buttonSize + '"]').parent()
    .addClass('selected-button').find('input[type=radio]').attr('checked', 'checked');

  updateButtonCode();
  
  // when input changes, update code
  $('input.radio_buttons, input#button_title').change(function() {
    updateButtonCode();
  });
  
  // when new image changes, update code and process image selection
  $('.button-choice').click(function() {
    $this = $(this);
    $img = $this.find('img');
    buttonSize = $img.attr('data-size');
    updateButtonCode();
    $('#button-choice-container input[type=radio]').removeAttr('checked');
    $this.find('input[type=radio]').attr('checked', 'checked');
    $('#button_size').val(buttonSize);
    $this.parent().find('.selected-button').removeClass('selected-button');
    $this.addClass('selected-button');
  });
});