$(document).ready(function(){
  
  // lookup dictionary for image filenames
  var imageDict = {
    'btn-large': '<%= asset_path "25c-btn-large.png" %>',
    'btn-medium': '<%= asset_path "25c-btn-medium.png" %>',
    'btn-small': '<%= asset_path "25c-btn-small.png" %>',
    'icon-large': '<%= asset_path "25c-icon-large.png" %>',
    'icon-medium': '<%= asset_path "25c-icon-medium.png" %>',
    'icon-small': '<%= asset_path "25c-icon-small.png" %>'
  };
	// lookup dictionary for image sizes
	var imageSizesDict = {
		'btn-large': ' width="136" height="70"',
		'btn-medium': ' width="94" height="50"',
		'btn-small': ' width="63" height="35"',
		'icon-large': ' width="68" height="70"',
		'icon-medium': ' width="49" height="50"',
		'icon-small': ' width="34" height="35"'
	};
  
  var jsOpen = '<a href="https://www.plus25c.com/tip/'
    + buttonId + '" class="tip-25c-button" data-size="';
  var jsClose = '</a>\n<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];\
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;\
    js.src="//api.plus25c.com/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}\
    (document,"script","tip-25c-js");</script>';
  var iframeOpen = '<iframe src="http://api.plus25c.com/button/' + buttonId + '?size=';
	var iframeMid = '" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"';
  var iframeClose = '></iframe>';
  
  var buttonSize = $('#button_size').val();
  var timer = null;
  var fakeCounter = 0;
  var $tooltip = $("#tip-25c-tooltip");
  
  var updateButtonCode = function() {
    if ($('input.radio_buttons:checked').val() == 'javascript') {
      newCode = jsOpen + buttonSize + '">' + $('input#button_title').val() + jsClose;
    } else {
      newCode = iframeOpen + buttonSize + iframeMid + imageSizesDict[buttonSize] + iframeClose;
    }
    $('#button-code-block').text(newCode);
    if (fakeCounter > 0) {
      $tooltip.html('<b>' + fakeCounter + ' &times; 25c (= $' + (fakeCounter / 4).toFixed(2) 
        + ') donated</b> -- Thank you! Click again to micro-donate another 25c.');
    } else {
      $tooltip.html("Super-like it? Click to like & micro-donate 25c!");
    }
  };
  // add update title field -> modify js string
  
  // button click visual feedback
  $('.button-choice').click(function() {
      $(this).find("img.unrot").fadeOut(50).delay(50).fadeIn(50);
  });
  
  $('.button-choice>img[data-size="' + buttonSize + '"]').addClass('selected-button');
  updateButtonCode();
  
  // when input changes, update code
  $('input.radio_buttons, input#button_title').change(function() {
    updateButtonCode();
  });
  
  // when new image changes, update code and process image selection
  $('.button-choice img').click(function() {
    $this = $(this);
  
    fakeCounter++;
    $tooltip.css('visibility', 'visible');
    
    buttonSize = $this.attr('data-size');
    updateButtonCode();
    $('#button_size').val(buttonSize);
    $this.parent().parent().find('.selected-button').removeClass('selected-button');
    $this.addClass('selected-button');
    $this.trigger('mouseenter');
  });
  
  var hideTooltip = function() {
    $("#tip-25c-tooltip").css("visibility", "hidden");
  }
  
  $('.button-choice').bind({
		mouseenter: function() {
      var $this = $(this);
			if ($this.children('img').hasClass('selected-button')) {
			  clearTimeout(timer);
  			var offset = $this.offset();
  		  var height = $this.height();
  			$tooltip.css({
          visibility: "visible",
  				left: offset.left,
  				top: offset.top + height + 10
  			});
  		} else {
  		  hideTooltip();
		  }
		},
		mouseleave: function() {
			timer = setTimeout(hideTooltip, 500);
		}
	});
	
  // dummy tooltip functionality
  $("#tip-25c-tooltip").bind({
		mouseenter: function() {
			clearTimeout(timer);			
		},
		mouseleave: function() {
			timer = setTimeout(hideTooltip, 500);
		}
	});
});