- content_for :title, '25c - ' + t('.title')

.row
  .span11
    .split-left
      %h2= t '.points_received'
      
      %table
        %thead
          %tr
            %th.col-date= Click.human_attribute_name(:created_at)
            %th.col-giver= Click.human_attribute_name(:user)
            %th.col-amount= Click.human_attribute_name(:amount)
            %th.col-amount-value &nbsp;
            %th.col-action &nbsp;
        %tbody
          = render :partial => 'clicks'
  .span5
    .split-right
      %h2= t '.total_received'
      .stats
        .stat.stat-points-received
          .stat-value= number_with_delimiter 0
          .stat-label= t('.points')
