%footer.navbar
  .navbar-inner
    .container
      #foot-copy.navbar-text.pull-left &copy; 25c, Inc. 2012
      %ul.nav.pull-right
        %li= link_to t('.about'), about_path
        %li= link_to t('.faq'), faq_path
        %li= link_to t('.terms'), terms_path
        %li= link_to t('.privacy'), privacy_path
        %li= link_to t('.contact'), contact_path
          
/
  Javascripts
  \==================================================
/ Placed at the end of the document so the pages load faster
= javascript_include_tag "application"
= yield(:js)