%footer.navbar
  .navbar-inner
    .container
      %p.navbar-text.pull-left &copy; Company 2012
      %ul.nav.pull-right
        %li= link_to t('.about'), home_buttons_path
        %li= link_to t('.FAQ'), home_buttons_path
        %li= link_to t('.Terms'), home_buttons_path
        %li= link_to t('.Privacy'), home_buttons_path
        %li= link_to t('.Contact'), home_buttons_path
          
/
  Javascripts
  \==================================================
/ Placed at the end of the document so the pages load faster
= javascript_include_tag "application"