=render 'layouts/fb_login'

#header-container
  %a#nav-logo{:href => root_path}
    %img{ :src => image_path('logo-incline-01.png') }
  #nav-tagline= t('.tagline')
  #nav-menu-container.pull-right
    - if signed_in?
      %ul
        %li.dropdown
          %a.dropdown-toggle{ :href => '#', :'data-toggle' => 'dropdown' }
            #nav-username.pull-left= current_user.display_name
            %b.pull-right.caret
            #nav-image.pull-right= image_tag(current_user.get_thumb, :class => 'thumb-picture')
            .clear
          %ul.dropdown-menu
            %li= link_to t('.dashboard'), home_dashboard_path
            / %li= link_to t('.receive_pledges'), home_receive_pledges_path
            %li= link_to t('.get_button'), home_get_button_path
            %li= link_to t('.payments'), home_payment_path
            %li= link_to t('.profile'), home_profile_path
            / %li= link_to t('.account'), home_account_path
            %li= link_to t('.sign_out'), sign_out_path, :id => 'sign-out'
    - else
      %ul#nav-login
        .hide
          %li.fb-login-button(data-scope="email,publish_actions")
        %li#nav-login-text.pull-left
          = t('.sign_in_with')
        %li.login-logo.pull-left
          %a.facebook-btn= image_tag "logos/facebook.png"
        / %li.login-logo= link_to image_tag("logos/twitter.png"), '/auth/twitter'
        %li.login-logo.pull-left
          = link_to image_tag("logos/google.png"), '/auth/google_oauth2', :class => 'google-btn'
        .clear
    .clear
  .clear
#nav-menu-container-cover
