#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.Event.subscribe('auth.authResponseChange', function(response) {
      window.location.reload();
    });
    #{yield :fb_pre_init}
    FB.init({
      appId      : '#{FACEBOOK_SETTINGS[:app_id]}',
      channelUrl : '//#{url_base}/channel.html',
      status     : true, 
      cookie     : true,
      xfbml      : true,
      oauth      : true
    });
    #{yield :fb_post_init}
  };
  (function(d){
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
  }(document));
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href=root_path) 25c
      .container.nav-collapse
        %ul.nav
          %li= link_to t('.home'), root_path
          -#
            %li= link_to t('.about'), "/path2"
            - if signed_in?
              %li= link_to t('.profile'), "/path3"
            %li= link_to t('.contact'), "/path3"
        - if signed_in?
          %ul.nav.pull-right
            - if current_user.is_admin
              %li= link_to t('.admin'), admin_dashboard_path
            %li= link_to t('.sign_out'), sign_out_path, :id => 'sign-out'
        - else
          %ul.nav.pull-right
            %li.navbar-text.pull-right= t('.or')
            %li= link_to t('.register'), register_path
            %li= link_to t('.sign_in'), sign_in_path
          %ul.nav.pull-right
            %li
              .fb-login-button(data-scope="email,publish_actions")= t('.facebook')
              
