=render 'layouts/fb_login'
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a#nav-logo.pull-left(href=root_path)
        %img{:src => image_path('25c-logo-medium.png')}
      %span#nav-tagline.navbar-text= t('.tagline')
      .nav-collapse.pull-right
        %ul.nav
          %li
          -#
            %li= link_to t('.about'), "/path2"
            - if signed_in?
              %li= link_to t('.profile'), "/path3"
            %li= link_to t('.contact'), "/path3"
        - if signed_in?
          %ul.nav.pull-right
            - if current_user.is_admin
              %li= link_to t('.admin'), admin_dashboard_path
            %li= link_to t('.buttons'), home_buttons_path
            %li= link_to t('.payments'), home_jar_path
            %li= link_to t('.sign_out'), sign_out_path, :id => 'sign-out'
        - else
          %ul.nav.pull-right            
            %li= link_to t('.sign_in'), sign_in_path
          %ul.nav.pull-right
            %li
              .fb-login-button(data-scope="email,publish_actions")
                = t('application.sign_in.facebook')
            %li.navbar-text.pull-right= t('.or')
            %li= link_to t('.register'), register_path, :class => 'btn'
              
