#header-container
  %a#nav-logo{:href => root_url}
    %img{ :src => image_path('logo-incline-01.png') }
  #nav-tagline= t('.tagline')
  #nav-menu-container.pull-right
    - if signed_in?
      %ul
        %li.dropdown
          %a.dropdown-toggle{ :href => '#', :'data-toggle' => 'dropdown' }
            %b.caret
            #nav-image= image_tag(current_user.get_thumb, :class => 'thumb-picture')
            #nav-username= current_user.display_name
            .clear
          %ul.dropdown-menu
            - if current_user.role == 'publisher'
              %li= link_to t('.dashboard'), publisher_dashboard_url
              %li= link_to t('.get_button'), publisher_widgets_url
              %li= link_to t('.payout'), publisher_payout_url
              %li= link_to t('.sign_out'), sign_out_url, :id => 'sign-out'
            - else
              %li= link_to t('.dashboard'), tipper_dashboard_url
              %li= link_to t('.payment'), tipper_payment_url
              %li= link_to t('.sign_out'), sign_out_url, :id => 'sign-out'
    - else
      %ul#nav-login
        %li#nav-login-text
          = link_to t('.sign_in'), sign_in_path
        .clear
    .clear
  .clear
#nav-menu-container-cover
