.header
  .header-inner
    = link_to root_url, :class => 'brand' do
      %span 25c
    - if signed_in?
      %ul.nav.pull-left
        - if current_user.publisher?
          %li= link_to t('.dashboard'), publisher_dashboard_url
          %li= link_to t('.widgets'), publisher_buttons_url
        - else
          %li= link_to t('.dashboard'), tipper_dashboard_url
          %li= link_to t('.get_points'), tipper_points_url
      %ul.nav.pull-right
        %li.nav-text
          = image_tag(current_user.get_thumb, :class => 'img-circle')
          - if current_user.publisher?
            %span.greeting= t '.greeting_html', :user => link_to(current_user.display_name, publisher_user_path)
          - else
            %span.greeting= t '.greeting_html', :user => current_user.display_name
          %span.sign-out (#{link_to t('.sign_out'), sign_out_url, :id => 'sign-out'})
    - else
      %ul.nav.pull-right
        = link_to t('.sign_in'), sign_in_path
