= content_for(:js) do
  = javascript_include_tag "sign-in-form"
  :javascript
    window.submit_text = {
      new: '#{ j t('users.sign_in.submit_new') }',
      existing: '#{ j t('users.sign_in.submit_existing') }'
    };

#sign-in
  .hide
    .fb-login-button(data-scope="email,publish_actions")
      = t('users.sign_in.facebook')
  #sign_in_title.lead= t('users.sign_in.sign_in_with')
  .login-buttons
    %a.facebook-btn.pointer= image_tag "logos/facebook.png"
    - if @button
      = link_to image_tag("logos/google.png"),
        '/auth/google_oauth2?state=' + @button.uuid + '|' + @referrer + '|' + @source,
        :class => 'google-btn'
      / = link_to image_tag("logos/twitter.png"),
      /   '/auth/twitter?state=button_id=' + @button.uuid + '&referrer=' + @referrer
    - else
      = link_to image_tag("logos/google.png"), '/auth/google_oauth2', :class => 'google-btn'
      / = link_to image_tag("logos/twitter.png"), "/auth/twitter"
  .user-agreement-message
    %p= raw t('.works_with')
    %p
      = raw t('.agreement_text')
      25c #{link_to t('.terms'), terms_path}, 
      #{link_to t('.privacy'), privacy_path}
    