= content_for(:js) do
  = javascript_include_tag "sign-in-form"
  :javascript
    window.submit_text = {
      new: '#{ j t('users.sign_in.submit_new') }',
      existing: '#{ j t('users.sign_in.submit_existing') }'
    };

#sign-in
  .hide
    .fb-login-button(data-scope="email,publish_actions")
      = t('users.sign_in.facebook')
  .lead.compact-lead= t('users.sign_in.sign_in_with')
  .login-buttons
    %a.facebook-btn.pointer= image_tag "logos/facebook.png"
    / = link_to image_tag("logos/twitter.png"), "/auth/twitter"
    = link_to image_tag("logos/google.png"), auth_google_oauth2_path
    