!!! 5
%html(lang="en" class="no-js")
  %head
    = render 'layouts/head'
  %body{ :class => "#{controller.controller_name} #{controller.action_name}" }
    #content.container
      = render 'layouts/header'
      #admin-nav
        #admin-nav-title.pull-left= t('.admin')
        %ul
          %li.pull-left= link_to t('.dashboard'), admin_dashboard_path
          %li.pull-left= link_to User.model_name.human.pluralize, admin_users_path
      = render 'layouts/alerts'
      = yield
      = render 'layouts/footer'
      