!!! 5
%html(lang="en")
  %head
    = render 'layouts/head'
  %body
    = render 'layouts/header'
    .container
      .row.admin-nav
        #admin-nav-title.pull-left= t('.admin')
        %ul.nav.pull-left
          %li.nav-link.pull-left= link_to t('.dashboard'), admin_dashboard_path
          %li.nav-link.pull-left= link_to User.model_name.human.pluralize, admin_users_path
      .clear
    .container
      = render 'layouts/alerts'
      = yield
    = render 'layouts/footer'
