!!! 5
%html(lang="en")
  %head
    = render 'layouts/head'
  %body
    #outer-container
      = render 'layouts/header'
      #inner-container
        = render 'layouts/alerts'
        = yield
      = render 'layouts/footer'