!!! 5
%html(lang="en" class="no-js")
  %head
    = render 'layouts/head'
  %body{ :class => "#{controller.controller_name} #{controller.action_name}" }
    #content.container
      = render 'layouts/header'
      = render 'layouts/alerts'
      = yield
      = render 'layouts/footer'
