!!! 5
%html(lang="en" class="no-js")
  %head
    = render 'layouts/head'
  %body
    #content.container
      = render 'layouts/header'
      = render 'layouts/alerts'
      = yield
      = render 'layouts/footer'
