!!! 5
%html(lang="en")
  %head
    = render 'layouts/head'
  %body#widget-sign-in
    .header
      .header-inner
        = link_to root_url, :class => 'brand' do
          %span 25c
    = yield
  = javascript_include_tag "application"
  = yield(:js)
  :javascript
    $(document).ready(function() {
      $('a.close-window').click(function() {
        setTimeout(function() { 
          window.close();
        }, 100);
      });
      var height = $('body').outerHeight(true) + window.outerHeight - window.innerHeight;
      if (height > window.outerHeight) {
        if (height > screen.availHeight) {
          height = screen.availHeight;
        }
        window.moveTo(window.screenX, (screen.availHeight - height) / 2);
        window.resizeTo(window.outerWidth, height);
      }
    });
